// bower:scss
// endbower
@import "globals";



@font-face {
  font-family: 'Conv_DINBold';
  src: url('fonts/DINBold.eot');
  src: local('☺'), url('fonts/DINBold.woff') format('woff'), url('fonts/DINBold.ttf') format('truetype'), url('fonts/DINBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_DINRegular';
  src: url('fonts/DINRegular.eot');
  src: local('☺'), url('fonts/DINRegular.woff') format('woff'), url('fonts/DINRegular.ttf') format('truetype'), url('fonts/DINRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*{
  outline: 0 none;
  -moz-outline: 0 none;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box !important;
  &:focus{
    outline: 0 none;
    -moz-outline: 0 none;
  }
  &:before,
  &:after {
    box-sizing: border-box !important;
  }
}

/* Space out content a bit */
body,html {
  padding: 0;
  margin: 0;
  position:relative;
  background-color: $salmon;
  min-height:$full;
  height: $full;
  overflow: initial;
  &.locked{
    overflow: hidden;
  }
  &.tabor{
    background-color: #1f1f1f;
  }
  &.ultra{
    background-color: $green;
  }
  &.saddles,
  &.ultraview,
  &.register,
  &.terms,
  &.cart,
  &.cartwo,
  &.saddledetail{
    background-color: #fff;
  }
}
body {
  padding: 0 !important;
  //margin-top: 25px;
}
html{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  &.loaded{
    @extend .anim-opacity;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
  }
}
#outdated{
  z-index: 9000 !important;
}

#bolacha{
  position: fixed;
  bottom:0;
  left:0;
  z-index:9000;
  background-color: #000;
  padding: 10px;
  width: 100%;
  p{
    color: $white;
    margin:0;
    padding:0;
    padding-right: 50px;
    font-size: 12px;
  }
  a,
  a:active,
  a:focus,
  a:visited{
    position: absolute;
    top:5px;
    right: 15px;
    color: #828282;
    font-size: 20px;
    text-decoration: none;
    &:hover{
      color: $white;
    }
  }
}

@import "pages/homepage";
@import "pages/tabor";
@import "pages/saddles";
@import "pages/saddledetail";
@import "pages/ultra";
@import "pages/ultraview";
@import "pages/register";
@import "pages/terms";
@import "pages/cart";
@import "pages/cartwo";
@import "pages/steps";
