/* ==================== ALERT IN ==================== */

/* Chrome, Safari, Opera */
@-webkit-keyframes alert-in {
  from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0);/* IE 5-7 */
    -moz-opacity: 0; /* Netscape */
    -khtml-opacity: 0; /* Safari 1.x */
    opacity: 0; /* Good browsers */

    //margin-top: -20px;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
    filter: alpha(opacity=100);/* IE 5-7 */
    -moz-opacity: 1; /* Netscape */
    -khtml-opacity: 1; /* Safari 1.x */
    opacity: 1; /* Good browsers */

    //margin-top:0;
  }
}

/* Standard syntax */
@keyframes alert-in {
  from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0);/* IE 5-7 */
    -moz-opacity: 0; /* Netscape */
    -khtml-opacity: 0; /* Safari 1.x */
    opacity: 0; /* Good browsers */

    //margin-top: -20px;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
    filter: alpha(opacity=100);/* IE 5-7 */
    -moz-opacity: 1; /* Netscape */
    -khtml-opacity: 1; /* Safari 1.x */
    opacity: 1; /* Good browsers */

    //margin-top:0;
  }
}

/* ==================== ALERT OUT ==================== */

/* Chrome, Safari, Opera */
@-webkit-keyframes alert-out {
  from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
    filter: alpha(opacity=100);/* IE 5-7 */
    -moz-opacity: 1; /* Netscape */
    -khtml-opacity: 1; /* Safari 1.x */
    opacity: 1; /* Good browsers */

    right:0;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0);/* IE 5-7 */
    -moz-opacity: 0; /* Netscape */
    -khtml-opacity: 0; /* Safari 1.x */
    opacity: 0; /* Good browsers */

    right:-$full;
  }
}

/* Standard syntax */
@keyframes alert-out {
  from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE 8 */
    filter: alpha(opacity=100);/* IE 5-7 */
    -moz-opacity: 1; /* Netscape */
    -khtml-opacity: 1; /* Safari 1.x */
    opacity: 1; /* Good browsers */

    right:0;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0);/* IE 5-7 */
    -moz-opacity: 0; /* Netscape */
    -khtml-opacity: 0; /* Safari 1.x */
    opacity: 0; /* Good browsers */

    right:-$full;
  }
}

/* ==================== ALERT TIMER ==================== */

/* Chrome, Safari, Opera */
@-webkit-keyframes alert-timer {
  from {
    width: $full;
  }
  to {
    width: 0;
  }
}

/* Standard syntax */
@keyframes alert-timer {
  from {
    width: $full;
  }
  to {
    width: 0;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes confirm-btn {
  0% {
    background-position: 10px 8px;
  }
  50% {
    background-position: 10px 12px;
  }
  100% {
    background-position: 10px 10px;
  }
}

/* Standard syntax */
@keyframes confirm-btn {
  0% {
    background-position: 10px 8px;
  }
  50% {
    background-position: 10px 12px;
  }
  100% {
    background-position: 10px 10px;
  }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes file-bounce {
  0% {
    top: 0px;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

/* Standard syntax */
@keyframes file-bounce {
  0% {
    top: 0px;
  }
  25% {
    top: -10px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0px;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes order-bounce {
  0% {
    left: 0px;
  }
  25% {
    left: -3px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: 3px;
  }
  100% {
    left: 0px;
  }
}

/* Standard syntax */
@keyframes order-bounce {
  0% {
    left: 0px;
  }
  25% {
    left: -3px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: 3px;
  }
  100% {
    left: 0px;
  }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes order-bounce-left {
  0% {
    left: 0px;
  }
  25% {
    left: 3px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: -3px;
  }
  100% {
    left: 0px;
  }
}

/* Standard syntax */
@keyframes order-bounce-left {
  0% {
    left: 0px;
  }
  25% {
    left: 3px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: -3px;
  }
  100% {
    left: 0px;
  }
}


/* Chrome, Safari, Opera */
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50%;
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 50% 50%;
    -o-transform: rotate(0deg);
    -o-transform-origin: 50% 50%;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotate(360deg);
    -moz-transform-origin: 50% 50%;
    -ms-transform: rotate(360deg);
    -ms-transform-origin: 50% 50%;
    -o-transform: rotate(360deg);
    -o-transform-origin: 50% 50%;
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}

/* Standard syntax */
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotate(0deg);
    -moz-transform-origin: 50% 50%;
    -ms-transform: rotate(0deg);
    -ms-transform-origin: 50% 50%;
    -o-transform: rotate(0deg);
    -o-transform-origin: 50% 50%;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: rotate(360deg);
    -moz-transform-origin: 50% 50%;
    -ms-transform: rotate(360deg);
    -ms-transform-origin: 50% 50%;
    -o-transform: rotate(360deg);
    -o-transform-origin: 50% 50%;
    transform: rotate(360deg);
    transform-origin: 50% 50%;
  }
}

/* ==================== DROPZONE ==================== */

@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }


@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   {
    right: 100%;
  }
  100%   {
    right: 0%;
  }
}
@-moz-keyframes NAME-YOUR-ANIMATION {
  0%   {
    right: 100%;
  }
  100%   {
    right: 0%;
  }
}
@-o-keyframes NAME-YOUR-ANIMATION {
  0%   {
    right: 100%;
  }
  100%   {
    right: 0%;
  }
}
@keyframes NAME-YOUR-ANIMATION {
  0%   {
    right: 100%;
  }
  100%   {
    right: 0%;
  }
}

@-webkit-keyframes btn {
  0%   {
    height: 0;
  }
  40%   {
    height: 120%;
  }
  100%   {
    height: 100%;
  }
}

@-moz-keyframes btn {
  0%   {
    height: 0;
  }
  40%   {
    height: 120%;
  }
  100%   {
    height: 100%;
  }
}

@-o-keyframes btn {
  0%   {
    height: 0;
  }
  40%   {
    height: 120%;
  }
  100%   {
    height: 100%;
  }
}

@keyframes btn {
  0%   {
    height: 0;
  }
  40%   {
    height: 120%;
  }
  100%   {
    height: 100%;
  }
}

