.basket__overlay{
  position: fixed;
  width: $full;
  height: $full;
  background-image: url(../images/site/back.png);
  z-index: 9000;
  display:none;
}

.paypal__overlay{
  position: fixed;
  width: $full;
  height: $full;
  background-image: url(../images/site/back.png);
  z-index: 9000;
  display:none;
}

#paypal {
  overflow: auto;
  position: fixed;
  max-width: 400px;
  width: 90%;
  max-height: 90%;
  margin: 5%;
  margin-top: 0%;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 9;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -40px;
  padding: 25px;
  text-align: center;
  img{
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
  }
  h3{
    line-height: 35px;
    margin:0;
  }
  @media (max-width: 500px) {
    left: 5%;
    margin-left: 0px;
  }
}

#basket {
  overflow: auto;
  position: fixed;
  max-width: 610px;
  width: 90%;
  max-height: 90%;
  margin: 5%;
  margin-top: 0%;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 9;
  top:5%;
  left:50%;
  margin-left:-305px;
  padding: 25px;
  @media (max-width: 700px) {
    left:5%;
    margin-left:0px;
  }
  h4{
    position: relative;
    float:left;
    width: 100%;
    text-transform: uppercase;
    color: #191919;
    font-family: courier, monospace;
    font-size: 16px;
    font-weight: bold;
    margin:0;
    padding: 0;
    margin-bottom: 30px;
    img{
      display:inline-block;
      vertical-align: middle;
      height: 25px;
      margin-right: 15px;
    }
  }
  ul.itemslist{
    position: relative;
    width: $full;
    margin:0;
    padding:0;
    float:left;
    text-align: left;
    border-spacing: 0px;
    list-style: none;
    @media (max-width: $phone-max) {
      border-top: 1px solid #000;
    }
    li{
      position: relative;
      width: $full;
      float:left;
      a,
      a:visited,
      a:focus,
      a:active,
      p,
      div{
        position: relative;
        float:left;
        font-family: courier, monospace;
        font-weight: normal;
        color:#000;
        font-size: 12px;
        text-decoration: none;
        margin:0;
        padding:0;
        line-height: 14px;
        height: auto;
        @media (max-width: $phone-max) {
          font-size: 14px;
          width: $full;
        }
        span{
          font-family: courier, monospace;
          font-weight: normal;
          font-size: 12px;
        }
      }
      p,
      div{
        width: 15%;
        &.items{
          width: 70% !important;
        }
        @media (max-width: $phone-max) {
          width: $full;
          &.items{
            z-index: 23;
            width: $full !important;
            padding:0;
          }
          span{
            position: relative;
            width: $full;
            left:0;
            top:0;
            font-size: 14px;
            float:left;
            margin-bottom: 10px;

            @media (max-width: $phone-max) {
              &.visible-phone{
                margin-top: 20px;
              }
            }
          }
        }
      }
      a,
      a:visited,
      a:focus,
      a:active{
        display: initial;
        float:none;
        background-color: transparent;
        @media (max-width: $phone-max) {
          width: auto;
        }
        &.download{
          text-decoration: underline;
          text-transform: uppercase;
        }
        &:hover{
          background-color: transparent;
          color: $green;
        }
      }
    }
    li.head{
      border-bottom: 1px solid #000;
      p{
        font-family: courier, monospace;
        font-weight: normal;
        font-size: 12px;
        width: 15%;
        &.items{
          width: 40%;
        }
      }
    }
    li.body{
      padding-top: 30px;
      padding-bottom: 30px;
      //border-bottom: 1px solid #000;
      min-height: 70px;
      @media (max-width: $phone-max) {
        padding-top: 0px;
      }
      div.images{
        position: absolute;
        left:0;
        top:0;
        width: 70px;
        height: 70px;
        float:left;
        overflow: hidden;
        div{
          width: $full;
          &.slick-list{
            height: 70px !important;
          }
        }
        img{
          width: 70px;
        }
        @media (max-width: $phone-max) {
          top: 42px;
        }
      }
      h5{
        position: relative;
        float:left;
        width: $full;
        font-size:22px;
        font-family: 'Conv_DINBold';
        margin: 0;
        padding:0;
        padding-left:90px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      div.colors{
        position: relative;
        float:left;
        width: $full;
        padding-left:90px;
        padding-right:40px;
        @media (max-width: $phone-max) {
          padding-right:0px;
        }
        a,
        a:active,
        a:focus,
        a:visited{
          position: relative;
          float:left;
          width: $full;
          display:block;
          font-size: 14px;
          padding: 5px;
          padding-right: 20px;
          padding-left: 25px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          &:hover{
            color: #191919;
            font-weight: bold;
          }
          span{
            position: absolute;
            width: 15px;
            height: 15px;
            display: block;
            top: 5px;
            left:5px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
          &.active{
            border: 1px solid #d0d0d0;
            strong{
              position: absolute;
              right: 5px;
              top: 50%;
              margin-top:-7px;
              height: 12px;
              width: 15px;
              text-align: center;
              font-size: 11px;
            }
          }
        }
        ul {
          position: absolute;
          display:none;
          left:90px;
          right:40px;
          top: 100%;
          margin: 0;
          margin-top: -2px;
          padding: 0;
          list-style: none;
          border: 1px solid #d0d0d0;
          border-top: 1px solid #fff;
          background-color: #fff;
          max-width: 100%;
          max-height: 80px;
          overflow:auto;
          @media (max-width: $phone-max) {
            right:0px;
          }
          li{
            &.active{
              display:none;
            }
          }
        }
      }
      div.quantity{
        position:relative;
        float:left;
        padding-left: 25px;
        padding-right: 25px;
        width: $full;
        input{
          position:relative;
          float:left;
          text-align: right;
          width: $full;
          height: 20px;
          font-family: courier, monospace;
          font-weight: normal;
          font-size: 12px;
          @media (max-width: $phone-max) {
            height: 30px;
            font-size: 18px;
          }
        }
        @media (max-width: $phone-max) {
          margin-top:0px;
          padding-left: 35px;
          padding-right: 35px;
        }
      }

      p.price{
        width: 100%;

        font-size: 16px;
        line-height: 20px;
      }
      a.item,
      a.item:active,
      a.item:focus,
      a.item:visited{
        position:absolute;
        top:0;
        color: white;
        width: 20px;
        height: 20px;
        display:block;
        background-color: #000;
        line-height: 17px;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-weight: bold;
        font-family: 'Conv_DINBold';
        font-size: 18px;
        z-index: 40;
        @media (max-width: $phone-max) {
          top:44px;
          width: 30px;
          height: 30px;
          line-height: 27px;
        }
        &.minus{
          right: 0;
          &:hover{
            background-color: $salmon;
          }
        }
        &.plus{
          left:0;
          &:hover{
            background-color: $salmon;
          }
        }
      }
    }

  }
  p{
    font-family: courier, monospace;
    font-weight: normal;
    position:relative;
    width: auto;
    margin:0;
    &.sub{
      font-size: 14px;
      line-height: 30px;
      float:left;
    }
    &.subtotal{
      font-weight: bold;
      font-size: 30px;
      float:right;
    }
  }
  div.bottom{
    position: relative;
    float: left;
    width: $full;
    margin-top: 40px;
  }

  a,
  a:active,
  a:visited,
  a:focus,
  input[type="submit"]{
    background-color: $green;
    &:hover{
      background-color: #191919;
    }
    -webkit-border-radius:0;
    border-radius:0;
    -webkit-appearance: none;
    border: 0;
    position:relative;
    color: $white;
    padding-right:20px;
    padding-left:20px;
    cursor: pointer;
    font-family: 'Conv_DINBold';
    font-size: 12px;
    width: auto;
    float:right;
    margin-left: 10px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    margin-bottom: 10px;
    &.cancel{
      background-color: #191919;
    }
    &.paypal{
      float:left;
      background-color: transparent;
      padding-right:0px;
      padding-left:0px;
      margin-left: 0px;
      line-height: 35px;
      img{
        vertical-align: middle;
        display:inline-block;
        height: 12px;
      }
    }
    /*@media (max-width: $phone-max) {
      max-width: $full;
    }*/
  }

  input[type="submit"]{
    line-height: 0px;
  }
}
