.anim-all{
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.anim-all-fast{
  -webkit-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.anim-all-slow{
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
}
.anim-all-very-slow{
  -webkit-transition: all 1000ms ease-out;
  -o-transition: all 1000ms ease-out;
  transition: all 1000ms ease-out;
}

.anim-border{
  -webkit-transition: border 300ms ease-out;
  -o-transition: border 300ms ease-out;
  transition: border 300ms ease-out;
}

.anim-background-color{
  -webkit-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.anim-background{
  -webkit-transition: background 300ms ease-out;
  -o-transition: background 300ms ease-out;
  transition: background 300ms ease-out;
}

.anim-color{
  -webkit-transition: color 300ms ease-out;
  -o-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

.no-anim{
  -webkit-transition: all 0ms ease-out;
  -o-transition: all 0ms ease-out;
  transition: all 0ms ease-out;
}

.anim-opacity{
  -webkit-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}


.anim-opacity-fast{
  -webkit-transition: opacity 100ms ease-out;
  -o-transition: opacity 100ms ease-out;
  transition: opacity 100ms ease-out;
}

.anim-border{
  -webkit-transition: border-left 300ms ease-out;
  -o-transition: border-left 300ms ease-out;
  transition: border-left 300ms ease-out;
}

.anim-width{
  -webkit-transition: width 500ms ease-out;
  -o-transition: width 500ms ease-out;
  transition: width 500ms ease-out;
}

.normal{
  padding-left:70px;
  padding-right:70px;
}

.transparent{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
