footer {
  margin-top: 30px;
  margin-bottom: 30px;


  hr {
    border-color: #1f1f1f;
  }

  .container {
    overflow: hidden;

    div.notice {

      h3 {
        font-family: courier, monospace;
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        color: #1f1f1f;
        b,
        strong{
          font-family: courier, monospace;
        }
        @media (max-width: $phone-max) {
          font-size: 16px;
        }
      }

      p {
        font-family: courier, monospace;
        font-size: 14px;
        font-weight: 100;
        text-align: left;
        margin: 0;
        padding: 0;
        color: #1f1f1f;
        line-height: 18px;
        b,
        strong{
          font-family: courier, monospace;
        }
        @media (max-width: $phone-max) {
          font-size: 14px;
        }
      }

    }

    p.copyrightmobile {
      float: left;
      position: relative;
      color: #1f1f1f;
      font-family: courier, monospace;
      font-size: 14px;
      font-weight: normal;
      line-height: 18px;
      width: $full;
      text-align: center;
      b,
      strong{
        font-family: courier, monospace;
      }
      margin:0;
      margin-top: 20px;
    }

    ul.languages {
      position: relative;
      width: $full;
      margin:0;
      padding:0;
      margin-top:20px;
      margin-bottom: 8px;
      text-align: left;
      li{
        position: relative;
        display:inline-block;
        margin-right: 15px;
        a,
        a:visited,
        a:focus,
        a:active{
          position: relative;
          float:left;
          margin:0;
          color: #1f1f1f;
          font-family: courier, monospace;
          font-size: 12px;
          font-weight: bold;
          text-align: left;
          line-height: 15px;
          text-transform: uppercase;
          text-decoration: none;
          padding: 3px;
          &.active,
          &:hover{
            //background-color: #1f1f1f;
            //color: $salmon;
          }
        }
      }
      @media (max-width: $phone-max) {
        margin-bottom: 40px;
        text-align: center;
        li{
          margin-right: 10px;
          margin-left: 10px;
          a{
            font-size: 14px;
          }
        }
      }
    }

    .left {
      width: 47.9404032%;
      float:left;
      display: block;
      position: relative;
      text-align: left;

      @media (max-width: $phone-max) {
       width: $full;
      }

      p.copyright {
        color: #1f1f1f;
        font-family: courier, monospace;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
        line-height: 18px;

        margin-top:20px;
        margin-bottom: 15px;
        b,
        strong{
          font-family: courier, monospace;
        }
      }


      div.newsletter {

        h5 {
          color: #1f1f1f;
          font-family: courier, monospace;
          font-size: 12px;
          font-weight: normal;
          text-align: left;
          line-height: 18px;
          text-transform: uppercase;
          margin-top: 10px;
          margin-bottom: 0px;
          b,
          strong{
            font-family: courier, monospace;
          }

          @media (max-width: $phone-max) {
            font-size: 20px;
            line-height: 24px;
            text-transform: none;
            margin-top: 50px;
          }

        }
        input[type=email]{
          padding: 2px;
          background-color: #1f1f1f;
          color: $salmon;
          font-family: courier, monospace;
          font-size: 12px;
          font-weight: normal;
          text-align: left;
          line-height: 18px;
          font-style: italic;
          width: 220px;
          border: none;
          outline: none;
          &:focus{
            border: none;
            outline: none;
          }

          @media (max-width: $phone-max) {
            width: $full;
            padding:5px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 100;
          }
        }

        input[type=submit]{
          padding: 0;
          margin: 0;
          border: none;
          outline: none;
          //border-bottom: 1px solid #1f1f1f;
          padding-bottom: 3px;
          color: #1f1f1f;
          font-family: courier, monospace;
          font-size: 12px;
          margin-top: 10px;
          font-weight: normal;
          text-align: right;
          background: transparent;
          cursor: pointer;
          text-transform: none;
          text-decoration: underline;
          &:hover{
            border-bottom: none;
          }

          @media (max-width: $phone-max) {
            font-size: 14px;
            line-height: 20px;
            font-weight: bold;
          }

        }


      }



    }
    .center {
      width:4.1191936%;
      float:left;
      display: block;
      position: relative;
      background-image: url(../images/molas.png);
      background-image: url(../images/molas.svg);

      background-size: 25px 44px;
      background-position: center 31px;
      background-repeat: no-repeat;

      height: 110px;
      @media (max-width: $phone-max) {
        width:$full;
        height: 45px;
        background-position: center top;
        margin-top: 30px;
        margin-bottom: 30px;
        span{
          position:absolute !important;
          height: 1px;
          background-color: #191919;
          top: 22px;
          width: 45%;
          display:block;
          &.left{
            left: 0px !important;
          }
          &.right{
            right: 0px !important;
          }
        }
      }

    }

    div.right {
      width: 47.9404032%;
      float:left;
      display: block;
      position: relative;

      @media (max-width: $phone-max) {
        width: $full;
      }

      div.socialLinks {
        display:block;
        position:relative;
        overflow: hidden;
        margin-bottom: 23px;
        a.social {
          display: block;
          float: right;
          width: 30px;
          height: 30px;
          text-decoration: none;
          margin-left: 10px;
          background-image: url(../images/social-sprites.png);

          &.insta {
            background-position: 90px 0px;
          }
          &.facebook {
            background-position: 0px 0px;
          }
          &.twitter {
            background-position: 0px 60px;

          }
          &.pinterest {
            background-position: 0px 30px;
          }

        }
      }


      p.address {
        color: #1f1f1f;
        font-family: courier, monospace;
        font-size: 12px;
        font-weight: normal;
        text-align: right;
        line-height: 16px;

        margin-top:10px;
        margin-bottom: 15px;

        span{
          width: 1px;
          background-color: #1f1f1f;
          margin-left: 10px;
          margin-right: 10px;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          height: 16px;

          @media (max-width: $phone-max) {
            display: block;
            height:0;
          }

        }
        b,
        strong{
          font-family: courier, monospace;
        }
        strong {
          color: #1f1f1f;
          font-family: courier, monospace;
          font-size: 12px;
          font-weight: bold;
        }

        a {
          padding: 0;
          margin: 0;
          border: none;
          outline: none;
          //border-bottom: 1px solid #1f1f1f;
          text-decoration: underline;
          padding-bottom: 3px;
          color: #1f1f1f;
          font-family: courier, monospace;
          font-size: 12px;
          margin-top: 10px;
          font-weight: normal;
          text-align: right;
          background: transparent;

          text-transform: none;
          //text-decoration: none;


          &:hover {
            border-bottom: none;

          }
          &:active,
          &:visited {
            color: #1f1f1f;
            font-family: courier, monospace;
            font-size: 12px;
            margin-top: 10px;
            font-weight: normal;
            text-align: right;
            background: transparent;

            text-transform: none;
            text-decoration: none;
          }
        }

      }



    }

  }

  &.tabor{

    hr {
      border-color: #afb4aa;
    }

    .container {
      overflow: hidden;

      div.notice {

        h3 {
          color: #afb4aa;
        }

        p {
          color: #afb4aa;
        }

      }

      p.copyrightmobile {
        color: #afb4aa;
      }


      ul.languages {
        li{
          a,
          a:visited,
          a:focus,
          a:active{
            color: #afb4aa;
            &.active,
            &:hover{
              //background-color: #afb4aa;
              //color: #1f1f1f;
            }
          }
        }
      }

      .left {



        p.copyright {
          color: #afb4aa;
        }

        div.newsletter {

          h5 {
            color: #afb4aa;

          }
          input[type=email]{
            background-color: #afb4aa;
            color: #1f1f1f;

          }

          input[type=submit]{
            color: #afb4aa;
          }

        }

      }
      .center {
        width:4.1191936%;
        float:left;
        display: block;
        position: relative;
        background-image: url(../images/molasgreen.png);
        background-image: url(../images/molasgreen.svg);

        background-size: 25px 44px;
        background-position: center 31px;
        background-repeat: no-repeat;

        height: 110px;
        @media (max-width: $phone-max) {
          width:$full;
          height: 45px;
          background-position: center top;
          margin-top: 30px;
          margin-bottom: 30px;
          span{
            position:absolute !important;
            height: 1px;
            background-color: #afb4aa;
            top: 22px;
            width: 45%;
            display:block;
            &.left{
              left: 0px !important;
            }
            &.right{
              right: 0px !important;
            }
          }
        }


      }

      div.right {

        @media (max-width: $phone-max) {
          width: $full;
        }

        div.socialLinks {
          display:block;
          position:relative;
          overflow: hidden;
          margin-bottom: 23px;
          a.social {
            display: block;
            float: right;
            width: 30px;
            height: 30px;
            text-decoration: none;
            margin-left: 10px;
            background-image: url(../images/social-sprites.png);

            &.insta {
              background-position:30px 0px;
            }
            &.facebook {
              background-position: 60px 0px;
            }
            &.twitter {
              background-position: 60px 60px;
            }
            &.pinterest {
              background-position: 60px 30px;
            }

          }
        }


        p.address {
          color: #afb4aa;

          span{

            background-color: #afb4aa;

            @media (max-width: $phone-max) {
              display: block;
              height:0;
            }

          }
          strong {
            color: #afb4aa;
          }

          a {
            color: #afb4aa;

            &:active,
            &:visited {
              color: #afb4aa;
            }
          }

        }



      }

    }

  }
  &.ultra{
    .container {

      ul.languages {
        li{
          a,
          a:visited,
          a:focus,
          a:active{
            &.active,
            &:hover{
              //color: $green;
            }
          }
        }
      }

      .left{


        div.newsletter {
          input[type=email]{
            color: $green;
          }
        }
      }
    }
  }

  &.saddles,
  &.saddledetail,
  &.register,
  &.cart,
  &.cartwo,
  &.terms,
  &.ultraview{
    .container {

      ul.languages {
        li{
          a,
          a:visited,
          a:focus,
          a:active{
            &.active,
            &:hover{
              //color: $white;
            }
          }
        }
      }

      .left{


        div.newsletter {
          input[type=email]{
            color: $white;
          }
        }
      }
    }
  }

  .full{
    padding:0px;
    text-align: left;
    p {
      color: #1f1f1f;
      font-family: courier, monospace;
      font-size: 12px;
      font-weight: normal;
      text-align: left;
      line-height: 18px;

      margin-top:20px;
      margin-bottom: 20px;
      b,
      strong{
        font-family: courier, monospace;
      }
    }
    img.cof{
      position: relative;
      display: inline-block;
      vertical-align: top;
      height: 50px;
      margin-right: 30px;
      margin-bottom: 20px;
    }

    @media (max-width: $phone-max) {
      p {
        text-align: center;
      }
      text-align: center;
      img.cof{
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
}
