header {
  position: relative;
  width: 100%;
  padding-top: 53px;

  div.top{
    position: fixed;
    top:0;
    left:0;
    background-color: #1f1f1f;
    min-height: 25px;
    width: $full;
    z-index: 3000;
    text-align: right;
    padding-left:15px;
    padding-right:15px;
    div{
      position: relative;
      display: inline-block;
      ul.languages{
        position: absolute;
        top:100%;
        right:0;
        width: auto;
        background-color: #1f1f1f;
        padding:0;
        margin:0;
        list-style: none;
        padding-top:5px;
        padding-bottom: 5px;
        display:none;
      }
      &.new{
        position:absolute;
        top: $full;
        right:0;
        background-color: #1f1f1f;
        margin-top: 10px;
        padding: 10px;
        width: auto;

        span{
          position:absolute;
          display:block;
          top:-8px;
          right: 12px;
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid #1f1f1f;
        }
        p{
          color: $white;
          font-family: courier, monospace;
          font-size: 13px;
          text-transform: uppercase;
          margin:0;
          padding:0;
          float:left;
          position:relative;
          text-align: center;
        }
      }
    }
    a,
    a:visited,
    a:focus,
    a:active{
      position: relative;
      display: inline-block;
      margin-left:15px;
      margin-right:15px;
      text-decoration: none;
      color:#828282;
      font-size: 12px;
      line-height: 25px;
      font-family: 'Conv_DINRegular';
      font-weight: $regular;
      &.active,
      &:hover{
        color:#FFF;
      }
      &.recover,
      &.voltar{
        margin:0;
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        font-size: 12px;
        line-height: 14px;
        text-transform: none;
        color: #6e6e6e;
        font-family: courier, monospace;
        font-weight: normal;
        margin-bottom: 25px;
        text-decoration: underline;
        &:hover{
          color: $white;
        }
      }
    }
    form{
      &.open{
        display:block;
      }
      position: absolute;
      top:100%;
      right:0;
      width: auto;
      background-color: #1f1f1f;
      text-align: left;
      margin:0;
      list-style: none;
      display:none;
      padding-top:25px;
      img{
        height: 25px;
        margin-right: 10px;
      }
      div{
        padding-left:25px;
        padding-right:25px;
        &.title{
          position: relative;
          float:left;
          margin-bottom: 25px;
        }
      }
      p{
        color: $white;
        text-transform: uppercase;
        font-size: 16px;
        font-family: courier, monospace;
        font-weight: bold;
        line-height: 25px;
        display: inline-block;
        margin:0;
        padding:0;
        vertical-align: top;
        &.message{
          position:relative;
          float:left;
          width: $full;
          font-size: 12px;
          line-height: 14px;
          text-transform: none;
          font-family: courier, monospace;
          font-weight: normal;
          padding-left:25px;
          padding-right:25px;
          &.error{
            color: $salmon;
          }
          &.success{
            color: $green;
          }
        }
      }
      label{
        color: $white;
        font-size: 13px;
        font-family: courier, monospace;
        font-weight: bold;
        margin:0;
        padding:0;
      }
      input{
        -webkit-border-radius:0;
        border-radius:0;
        -webkit-appearance: none;
        border: 0;
        padding: 10px;
        font-family: courier, monospace;
        font-style: italic;
        &[type="submit"]{
          font-style: normal;
          background-color: transparent;
          color: $white;
          text-decoration: underline;
          text-transform: uppercase;
          margin-left: 25px;
          padding:0;
          cursor: pointer;
        }
        &.error{
          background-color: $salmon;
        }
      }

      a.new,
      a.new:visited,
      a.new:focus,
      a.new:active{
        position: relative;
        float:left;
        width: 100%;
        border-top: 1px solid #636363;
        background-color: #2f2f2f;
        min-height: 60px;
        margin:0;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom:15px;
        p{
          position: relative;
          width: 100%;
          float:left;
          padding-right: 40px;
          &.title{
            margin-top: 10px;
            line-height: 20px;
          }
          &.register{
            font-size: 12px;
            line-height: 14px;
            text-transform: none;
            color: #6e6e6e;
            font-family: courier, monospace;
            font-weight: normal;
          }
        }
        span{
          width: 40px;
          height: 40px;
          position: absolute;
          top: 10px;
          right: 10px;
          text-align: center;
          background-color: #1f1f1f;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          line-height: 40px;
          img{
            display: inline-block;
            height: 15px;
            width: 15px;
            margin:0;
            vertical-align: middle;
          }
        }
      }


      @media (max-width: $phone-max) {
        position: fixed;
        top:25px;
        right:0;
        width:$full;
        div{
          width:$full;
        }
        input{
          width:$full;
          &[type="submit"]{
            width: auto;
          }
        }
      }
    }
  }
  .container {
    position: relative;
    overflow: initial;
    text-align: center;
    a.logo {
      z-index: 2;
      position: relative;
      display: block;
      float: none;
      text-transform: none;
      text-decoration: none;
      color: transparent;

      @media (min-width: $phone-min) {
        display: block;
        float: none;
      }
      @media (min-width: $tablet-min) {
        display: block;
        float: left;
        margin:0;

      }
      @media (min-width: $tablet-middle) {
        display: block;
        float: left;
        margin:0;

      }
      @media (min-width: $desktop-min) {
        display: block;
        float: left;
        margin:0;

      }
      @media (min-width: $desktop-large-min) {
        display: block;
        float: left;
        margin:0;

      }

      &:hover,
      &:visited,
      &:active {
        text-transform: none;
        text-decoration: none;
        color: transparent;
      }

      img {
        width: 132px;
        height: 100px;

      }

    }
    nav {
      display: block;
      margin-right: 0;
      margin-top: 33px;
      color: #1f1f1f;
      font-family: courier, monospace;
      font-size: 13px;
      font-weight: normal;
      text-align: center;
      line-height: 18px;
      z-index: 1;
      @media (min-width: $phone-min) {
        margin-right: 0;
        text-align: center;
        margin-top: 33px;
        font-size: 13px;


      }
      @media (min-width: $tablet-min) {
        margin-right: 19.0052585%;
        margin-top: 73px;
        text-align: right;
        font-size: 15px;


      }
      @media (min-width: $tablet-middle) {
        margin-right: 34.0052585%;
        margin-top: 73px;
        text-align: right;
        font-size: 15px;


      }
      @media (min-width: $desktop-min) {
        margin-right: 34.0052585%;
        margin-top: 73px;
        text-align: right;
        font-size: 15px;


      }
      @media (min-width: $desktop-large-min) {
        margin-right: 34.0052585%;
        margin-top: 73px;
        text-align: right;
        font-size: 15px;


      }

      a.menuLink,
      a.menuLink:focus,
      a.menuLink:active,
      a.menuLink:visited
      {
        position: relative;
        //@extend .anim-all;
        display: inline-block;
        //border-bottom: 1px solid #1f1f1f;
        padding: 3px;
        padding-bottom: 3px;
        color: #1f1f1f;
        font-family: courier, monospace;
        font-size: 10px;
        font-weight: normal;
        text-align: right;

        text-transform: none;
        text-decoration: underline;
        z-index: 1;
        span{
          position: absolute;
          top:0;
          left:0;
          width: $full;
          background-color: #191919;
          display:block;
          height: 0%;
          z-index: -1;
        }

        &:hover{

          span{
            height: $full;
          }
        }

        &.active{
          //background-color: #1f1f1f;
          //color: #afb4aa;
          h2{
            color: #afb4aa;
          }
        }

        &.active{
          &.saddles{
            background-color: #fff;
            h2{
              color: #1f1f1f;
            }
          }
        }

        h2 {
          //@extend .anim-all;
          margin: 0;
          color: #1f1f1f;
          font-family: courier, monospace;
          font-size: 14px;
          font-weight: lighter;
          text-align: right;
          text-transform: none;
          @media (max-width: $phone-max) {
            font-size: 12px;
          }
        }

        @media (min-width: $phone-min) {
          font-size: 10px;

        }
        @media (min-width: $tablet-min) {
          font-size: 14px;


        }
        @media (min-width: $tablet-middle) {
          font-size: 14px;

        }
        @media (min-width: $desktop-min) {
          font-size: 14px;

        }
        @media (min-width: $desktop-large-min) {


          font-size: 14px;


        }

      }

    }


    div.notice {
      width: 24.1893076%;
      display: block;
      z-index: 3;
      position: absolute;
      right:0;
      top:50px;
      color: #1f1f1f;




      h3 {
        font-family: courier, monospace;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        color: #1f1f1f;

      }

      p {
        font-family: courier, monospace;
        font-size: 14px;
        font-weight: 100;
        text-align: left;
        margin: 0;
        padding: 0;
        color: #1f1f1f;
        line-height: 18px;

      }

    }
  }
}


body.homepage{
  header {
    .container {
      nav {
        a.menuLink,
        a.menuLink:focus,
        a.menuLink:active,
        a.menuLink:visited
        {

          &.active {
            background-color: #1f1f1f;
          }

          &:hover,
          &.active{
            //background-color: #1f1f1f;
            color: $salmon;
            h2{
              color: $salmon;
            }
          }

        }

      }
    }
  }
}

body.tabor,
body.ultra{

  @media (max-width: $phone-max) {


    #wrapper div.opacity{
      display: block;
    }

  }

  header {
    .container {
      nav {
        a.menuLink,
        a.menuLink:focus,
        a.menuLink:active,
        a.menuLink:visited
        {


          span{
            background-color: #1f1f1f;
          }

          &.active {
            background-color: #1f1f1f;
          }

          &:hover,
          &.active{
            //background-color: #1f1f1f;
            color: #afb4aa;
            h2{
              color: #afb4aa;
            }
          }

        }

      }
    }
  }
}


body.saddles{
  header {
    .container {
      nav {
        color: #fff;

        a.menuLink,
        a.menuLink:focus,
        a.menuLink:active,
        a.menuLink:visited
        {
          color: #fff;

          span{
            background-color: #fff;
          }

          &.active {
            background-color: #fff;
          }

          &:hover,
          &.active{
            //background-color: #fff;
            color: #000;
            h2{
              color: #000;
            }
          }

          h2 {
            color: #fff;
          }

        }

      }

      div.notice {
        color: #fff;

        h3 {
          color: #fff;
        }

        p {
          color: #fff;
        }

      }
    }
  }
}

body.ultraview,
body.register,
body.cart,
body.cartwo,
body.terms,
body.saddledetail{
  header {
    .container {
      nav {
        a.menuLink,
        a.menuLink:focus,
        a.menuLink:active,
        a.menuLink:visited
        {

          span{
            background-color: #000;
          }
          &.active {
            background-color: #000;
          }
          &:hover,
          &.active{
            //background-color: #000;
            color: #fff;
            h2{
              color: #fff;
            }
          }
        }
      }
    }
  }
}
