
//
// Grid system
// --------------------------------------------------


// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
  position: relative;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  @media (min-width: $phone-min) {
    width: $container-phone;
  }
  @media (min-width: $tablet-middle) {
    width: $container-tablet-middle;
  }
  @media (min-width: $tablet-min) {
    width: $container-tablet;
  }
  @media (min-width: $desktop-min) {
    width: $container-desktop;
  }
  @media (min-width: $desktop-large-min) {
    width: $container-desktop-large;
  }

}

.half {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 50%;
  width: $full;
  float: left;
  @media (max-width: $phone-max) {
    max-width: $full;
  }
}

.full {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  width: $full;
  float: left;
  @media (max-width: $phone-max) {
    max-width: $full;
  }
}

.hidden{
  display: none !important;
  &-phone{
    @media (max-width: $phone-max) {
      display: none !important;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display: block !important;
    }
    @media (min-width: $tablet-middle) {
      display: block !important;
    }
    @media (min-width: $desktop-min) {
      display: block !important;
    }
    @media (min-width: $desktop-large-min) {
      display: block !important;
    }
  }
  &-tablet-middle{
    @media (max-width: $phone-max) {
      display: block;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display: none !important;
    }
    @media (min-width: $tablet-middle) {
      display: block;
    }
    @media (min-width: $desktop-min) {
      display: block;
    }
    @media (min-width: $desktop-large-min) {
      display: block;
    }
  }
  &-tablet{
    @media (max-width: $phone-max) {
      display: block;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display: block;
    }
    @media (min-width: $tablet-middle) {
      display: none !important;
    }
    @media (min-width: $desktop-min) {
      display: block;
    }
    @media (min-width: $desktop-large-min) {
      display: block;
    }
  }
  &-desktop{
    @media (max-width: $phone-max) {
      display: block;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display: block;
    }
    @media (min-width: $tablet-middle) {
      display: block;
    }
    @media (min-width: $desktop-min) {
      display: none !important;
    }
    @media (min-width: $desktop-large-min) {
      display: block;
    }
  }
  &-desktop-large{
    @media (max-width: $phone-max) {
      display: block;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display: block;
    }
    @media (min-width: $tablet-middle) {
      display: block;
    }
    @media (min-width: $desktop-min) {
      display: block;
    }
    @media (min-width: $desktop-large-min) {
      display: none !important;
    }
  }
}

.visible{
  display:block !important;
  &-phone{
    @media (max-width: $phone-max) {
      display:block !important;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display: none !important;
    }
    @media (min-width: $tablet-middle) {
      display: none !important;
    }
    @media (min-width: $desktop-min) {
      display: none !important;
    }
    @media (min-width: $desktop-large-min) {
      display: none !important;
    }
  }
  &-tablet-middle{
    @media (max-width: $phone-max) {
      display: none !important;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display:block !important;
    }
    @media (min-width: $tablet-middle) {
      display: none;
    }
    @media (min-width: $desktop-min) {
      display: none;
    }
    @media (min-width: $desktop-large-min) {
      display: none;
    }
  }
  &-tablet{
    @media (max-width: $phone-max) {
      display: none !important;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display:block !important;
    }
    @media (min-width: $tablet-middle) {
      display:block !important;
    }
    @media (min-width: $desktop-min) {
      display: none;
    }
    @media (min-width: $desktop-large-min) {
      display: none;
    }
  }
  &-desktop{
    @media (max-width: $phone-max) {
      display: none;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display: none;
    }
    @media (min-width: $tablet-middle) {
      display: none;
    }
    @media (min-width: $desktop-min) {
      display:block !important;
    }
    @media (min-width: $desktop-large-min) {
      display: none;
    }
  }
  &-desktop-large{
    @media (max-width: $phone-max) {
      display: none;
    }
    @media (min-width: $tablet-min) and (max-width: $tablet-middle - 1) {
      display: none;
    }
    @media (min-width: $tablet-middle) {
      display: none;
    }
    @media (min-width: $desktop-min) {
      display: none;
    }
    @media (min-width: $desktop-large-min) {
      display:block !important;
    }
  }
}

.align{
  &__left{
    text-align: left !important;
  }
  &__center{
    text-align: center !important;
  }
  &__right{
    text-align: right !important;
  }
}

.shadow {
  -moz-box-shadow: 0px 0px 8px #888;
  -webkit-box-shadow: 0px 0px 8px #888;
  box-shadow: 0px 0px 8px #888;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=90, Color='#888888')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=90, Color='#888888');
}
