@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/* Font Weight */

$extra-light    : 300;
$light          : 300;
$regular        : 400;
$semi-bold      : 600;
$bold           : 700;
$ultra-bold     : 900;

/* Color Scheme */

$red            : #a31e33; /* LOVE */
$black          : #000000;
$dark_grey_2    : #3c3b39;
$dark_grey_1    : #403f3d;
$dark_grey_0    : #4e4a47;
$light_grey_2   : #b3b3b3;
$light_grey_1   : #e6e6e6;
$light_grey_0   : #f4f4f4;
$white          : #ffffff;
$salmon         : #fabeaf; /* TABOR */
$green         : #afb4aa; /* GREEN */

/* Alerts */
$warning        : #ffdd7e;
$info           : #72bad4;
$error          : #d05f45;
$success        : #86bf53;

/* Dimensions */

$full           : 100%;

$script         : 'Seaweed Script', cursive;

/* Devices Width */

$phone-min          : 480px;
$phone-max          : 767px;
$tablet-min         : 768px;
$tablet-middle      : 900px;
$tablet-max         : 1024px;
$desktop-min        : 1025px;
$desktop-max        : 1199px;
$desktop-large-min  : 1200px;

/* Container Width */

$container-phone          : $full;
$container-tablet-middle  : 95%;
$container-tablet         : 98%;
$container-desktop        : 1000px;
$container-desktop-large  : 1141px;
