#wrapper{
  position: relative;
  height:$full;
  min-height:$full;
  /*div.backstretch{
    position: fixed !important;
    top:8px !important;
    left:8px !important;
    //background-color: $black;
  }*/

  div.opacity{
    position: absolute;
    width: $full;
    height: $full;
    display: none;
    background-color: rgba(175,180,170,0.7);
    z-index: 1;
  }

}
