body.cartwo{

  .content.container {

    height: auto;
    margin-top: 160px;

    @media (max-width: $phone-max) {
      margin-top: 50px;
    }

    hr{
      position: relative;
      float: left;
      width: $full;
      margin-top:0;
      margin-bottom:20px;
    }

    div.cart ,
    form.cart {
      overflow: auto;
      position: relative;
      width: $full;
      margin-bottom: 50px;
      h4{
        position: relative;
        float:left;
        width: 100%;
        text-transform: uppercase;
        color: #191919;
        font-family: courier, monospace;
        font-size: 16px;
        font-weight: bold;
        margin:0;
        padding: 0;
        margin-bottom: 30px;
        img{
          display:inline-block;
          vertical-align: middle;
          height: 25px;
          margin-right: 15px;
        }
        a,
        a:visited,
        a:focus,
        a:active{
          text-transform: uppercase;
          color: #949494;
          font-family: courier, monospace;
          font-size: 16px;
          font-weight: bold;
          &:hover{
            color: $green;
          }
        }
        &.detail{
          text-transform: uppercase;
          color: #191919;
          font-family: courier, monospace;
          font-size: 30px;
          line-height: 35px;
          img{
            display:inline-block;
            vertical-align: middle;
            height: 25px;
            margin-right: 10px;
          }
          span{
            color: #949494;
            font-family: courier, monospace;
            font-size: 30px;
            line-height: 35px;
          }
        }
      }
      ul.itemslist{
        position: relative;
        width: $full;
        margin:0;
        padding:0;
        float:left;
        text-align: left;
        border-spacing: 0px;
        list-style: none;
        @media (max-width: $phone-max) {
          border-top: 1px solid #000;
        }
        li{
          position: relative;
          width: $full;
          float:left;
          p,
          div{
            position: relative;
            float:left;
            font-family: courier, monospace;
            font-weight: normal;
            color:#000;
            font-size: 12px;
            text-decoration: none;
            margin:0;
            padding:0;
            line-height: 14px;
            height: auto;
            @media (max-width: $phone-max) {
              font-size: 14px;
              width: $full;
            }
            span{
              font-family: courier, monospace;
              font-weight: normal;
              font-size: 12px;
            }
          }
          p,
          div{
            width: 15%;
            &.items{
              width: 70% !important;
            }
            @media (max-width: $phone-max) {
              width: $full;
              &.items{
                z-index: 23;
                width: $full !important;
                padding:0;
              }
              span{
                position: relative;
                width: $full;
                left:0;
                top:0;
                font-size: 14px;
                float:left;
                margin-bottom: 10px;

                @media (max-width: $phone-max) {
                  &.visible-phone{
                    margin-top: 20px;
                  }
                }
              }
            }
          }
        }
        li.head{
          border-bottom: 1px solid #000;
          p{
            font-family: courier, monospace;
            font-weight: normal;
            font-size: 12px;
            width: 15%;
            &.items{
              width: 40%;
            }
          }
        }
        li.body{
          padding-top: 30px;
          padding-bottom: 30px;
          //border-bottom: 1px solid #000;
          min-height: 70px;
          @media (max-width: $phone-max) {
            padding-top: 0px;
          }
          div.images{
            position: absolute;
            left:0;
            top:0;
            width: 70px;
            height: 70px;
            float:left;
            overflow: hidden;
            div{
              width: $full;
            }
            img{
              width: 70px;
            }
            @media (max-width: $phone-max) {
              top: 42px;
            }
          }
          h5{
            position: relative;
            float:left;
            width: $full;
            font-size:22px;
            font-family: 'Conv_DINBold';
            margin: 0;
            padding:0;
            padding-left:90px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          div.colors{
            position: relative;
            float:left;
            width: $full;
            padding-left:90px;
            padding-right:40px;
            @media (max-width: $phone-max) {
              padding-right:0px;
            }
            p{
              position: relative;
              float:left;
              width: $full;
              display:block;
              font-size: 14px;
              padding: 5px;
              padding-right: 20px;
              padding-left: 25px;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              &:hover{
              }
              span{
                position: absolute;
                width: 15px;
                height: 15px;
                display: block;
                top: 5px;
                left:5px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
              }
              &.active{
                border: 1px solid #d0d0d0;
                max-width: 275px;
                strong{
                  position: absolute;
                  right: 5px;
                  top: 50%;
                  margin-top:-7px;
                  height: 12px;
                  width: 15px;
                  text-align: center;
                  font-size: 11px;
                }
              }
            }
          }
          div.quantity{
            position:relative;
            float:left;
            padding-left: 25px;
            padding-right: 25px;
            width: $full;
            @media (max-width: $phone-max) {
              margin-top:0px;
              padding-left: 35px;
              padding-right: 35px;
              p{
                text-align: left !important;
              }
            }
          }

          p.price{
            width: 100%;

            font-size: 16px;
            line-height: 20px;
            @media (max-width: $phone-max) {
              text-align: left !important;
            }
          }
        }
      }
      p{
        font-family: courier, monospace;
        font-weight: normal;
        position:relative;
        width: auto;
        margin:0;
        &.sub{
          font-size: 14px;
          line-height: 30px;
          float:left;
          &.obs{
            margin-bottom: 50px;
          }
          a,
          a:active,
          a:focus,
          a:visited{
            font-family: courier, monospace;
            font-weight: normal;
            font-size: 14px;
            color: #949494;
            text-decoration: none;
            &:hover{
              color: $salmon;
            }
          }
        }
        &.subtotal{
          font-weight: bold;
          font-size: 30px;
          float:right;
          &.smaller{
            font-size: 14px;
          }
        }
      }
      h5{
        font-family: courier, monospace;
        font-weight: normal;
        position:relative;
        width: $full;
        margin:0;
        font-size: 14px;
        float:left;
        margin-bottom: 15px;
      }
      div.bottom{
        position: relative;
        float: left;
        width: $full;
        margin-top: 40px;


        div{
          &.radio{
            position:relative;
            width: 50%;
            float:left;
            padding:0;
            margin-bottom: 10px;
            input{
              position: absolute;
              width:auto;
              left:0;
              top:0;
            }
            div.radio{
              width: $full;
             //margin-bottom: 30px;
              &:hover{
                cursor:pointer;
              }
            }
            p{
              padding-left: 25px;
              &.alert{
                color: $salmon;
                font-family: 'Conv_DINRegular';
                font-size: 12px;
                *{
                  color: $salmon;
                  font-family: 'Conv_DINRegular';
                  font-size: 12px;
                }
              }
              a,
              a:active,
              a:focus,
              a:visited{
                font-family: courier, monospace;
                font-weight: $regular;
                font-size: 14px;
                &:hover{
                  color: $black;
                }
              }
            }
          }
          &.full {
            padding: 0;
            padding-right: 5px;
            padding-left: 5px;
            &.code{
              margin-bottom:40px;
            }
            input{
              color: #191919;
              background-color: #fafafa;
              border: 0;
              font-family: 'Conv_DINRegular';
              font-size: 14px;
              padding:10px;
              &.error{
                background-color: $salmon;
              }
            }
            a,
            a:active,
            a:focus,
            a:visited{
              color: $white;
              background-color: $black;
              font-family: 'Conv_DINBold';
              font-size: 12px;
              line-height: 14px;
              padding:10px;
              text-decoration: none;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
            }
          }
          &.half{
            position:relative;
            width: 50%;
            float:left;
            padding:0;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 30px;
            &.other{
              display:none;
            }
            p{
              margin:0;
              padding:0;
              position:relative;
              float:left;
              width: $full;
              font-family: 'Conv_DINBold';
              font-size: 14px;
              line-height: 20px;
              padding-left: 25px;
            }
            div{
              position:relative;
              float:left;
              width: $full;
            }
            @media (max-width: $phone-max) {
              width: $full;
            }
          }
          &.type{
            p{
              padding-left: 0px;
              padding-right: 20px;
              font-size: 12px;
              font-family: 'Conv_DINRegular';
            }
          }
          &.address{
            position: relative;
            float: left;
            width: $full;

            p{
              font-family: courier, monospace;
              font-weight: normal;
              position:relative;
              width: auto;
              margin:0;
              font-size: 14px;
              a,
              a:active,
              a:visited,
              a:focus{
                font-family: courier, monospace;
                color: $green;
                &:hover{
                  color: $green;
                }
              }
              &.shipping{
                position: relative;
                float:left;
                font-family: 'Conv_DINRegular';
                font-weight: normal;
                width: 50%;
                font-size: 12px;
                margin-top: 70px;
                @media (max-width: $phone-max) {
                  width: $full;
                }
              }
              &.terms{
                position: relative;
                float:left;
                clear:both;
                font-family: 'Conv_DINRegular';
                font-weight: normal;
                width: 50%;
                font-size: 12px;
                line-height: 15px;
                color: #191919;
                margin-top: 15px;
                margin-bottom: 30px;
                @media (max-width: $phone-max) {
                  width: $full;
                }
                a{
                  float:left;
                  clear:both;
                  font-family: 'Conv_DINRegular';
                  color: #191919;
                }
              }
              &.sub{
                font-size: 14px;
                line-height: 30px !important;
                float:left;
                margin-bottom: 0px;
              }
              &.total{
                font-weight: bold !important;
                font-size: 30px !important;
                float:right;
                margin-bottom: 0px;
              }
            }

            p{
              font-family: courier, monospace;
              font-weight: normal;
              position:relative;
              width: auto;
              margin:0;
              font-size: 14px;
              a,
              a:active,
              a:visited,
              a:focus{
                font-family: courier, monospace;
                color: $green;
                &:hover{
                  color: $green;
                }
              }
              &.shipping{
                position: relative;
                float:left;
                font-family: 'Conv_DINRegular';
                font-weight: normal;
                width: 50%;
                font-size: 12px;
                margin-top: 70px;
                @media (max-width: $phone-max) {
                  width: $full;
                }
              }
              &.terms{
                position: relative;
                float:left;
                clear:both;
                font-family: 'Conv_DINRegular';
                font-weight: normal;
                width: 50%;
                font-size: 12px;
                line-height: 15px;
                color: #191919;
                margin:0;
                margin-bottom: 30px;
                @media (max-width: $phone-max) {
                  width: $full;
                }
                a{
                  float:left;
                  clear:both;
                  font-family: 'Conv_DINRegular';
                  color: #191919;
                }
              }
              &.sub{
                font-size: 14px;
                line-height: 30px !important;
                float:left;
                margin-bottom: 0px;
              }
              &.total{
                font-weight: bold !important;
                font-size: 30px !important;
                float:right;
                margin-bottom: 0px;
              }
            }

            a.paypal,
            a.paypal:visited,
            a.paypal:active,
            a.paypal:focus{
              background-color: transparent;
              padding-right:0px;
              padding-left:0px;
              margin-left: 5px;
              line-height: 15px;
              display:block;
              img{
                vertical-align: middle;
                display:inline-block;
                height: 12px;
              }
            }
          }
        }


        ul{
          position: relative;
          width: $full;
          margin:0;
          padding:0;
          margin-bottom: 50px;
          float:left;
          text-align: left;
          border-spacing: 0px;
          list-style: none;
          li{
            position: relative;
            width: $full;
            float:left;
            a,
            a:visited,
            a:focus,
            a:active,
            p{
              position: relative;
              float:left;
              font-family: courier, monospace;
              font-weight: normal;
              color:#000;
              font-size: 12px;
              text-decoration: none;
              margin:0;
              padding:0;
              line-height: 14px;
              height: auto;
              @media (max-width: $phone-max) {
                font-size: 14px;
                width: $full;
              }
              span{
                font-family: courier, monospace;
                font-weight: normal;
                font-size: 12px;
              }
            }
            p{
              width: 15%;
              &.items{
                width: 40%;
              }
              @media (max-width: $phone-max) {
                width: $full;
                padding-left: 50%;
                margin-top: 10px;
                &.items{
                  width: $full;
                }
                span{
                  position: absolute;
                  width: 50%;
                  left:0;
                  top:0;
                  font-size: 14px;
                }
              }
            }
            a,
            a:visited,
            a:focus,
            a:active{
              display: initial;
              float:none;
              background-color: transparent;
              @media (max-width: $phone-max) {
                width: auto;
              }
              &.download{
                text-decoration: underline;
                text-transform: uppercase;
              }
              &.detail{
                font-family: 'Conv_DINBold';
              }
              &:hover{
                background-color: transparent;
                color: $green;
              }
            }
          }
          li.head{
            border-bottom: 1px solid #000;
            p{
              font-family: courier, monospace;
              font-weight: normal;
              font-size: 12px;
              width: 15%;
              &.items{
                width: 40%;
              }
            }
          }
          li.body{
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #000;
          }
          &.half{
            li{
              p{
                width: 50% !important;
                &.date{
                  text-align: right;
                }
              }
            }
          }
          @media (max-width: $phone-max) {
            border-top: 1px solid #000;
            &.half{
              width: $full;
            }
          }
        }
      }

      a.cancel,
      a.cancel:active,
      a.cancel:visited,
      a.cancel:focus,
      a.invoice,
      a.invoice:active,
      a.invoice:visited,
      a.invoice:focus,
      input[type="submit"]{
        background-color: $green;
        &:hover{
          background-color: #191919 !important;
        }
        -webkit-border-radius:0;
        border-radius:0;
        -webkit-appearance: none;
        border: 0;
        position:relative;
        color: $white;
        padding-right:35px;
        padding-left:35px;
        cursor: pointer;
        font-family: 'Conv_DINBold';
        font-size: 12px;
        width: auto;
        float:right;
        margin-left: 10px;
        height: 35px;
        line-height: 35px;
        text-decoration: none;
        margin-bottom: 10px;
        &.cancel{
          background-color: #191919;
        }
        &.paypal{
          float:left;
          background-color: transparent;
          padding-right:0px;
          padding-left:0px;
          margin-left: 0px;
          line-height: 35px;
          img{
            vertical-align: middle;
            display:inline-block;
            height: 12px;
          }
        }
        /*@media (max-width: $phone-max) {
          max-width: $full;
        }*/
      }

      input[type="submit"]{
        line-height: 0px;
        background-color: $salmon !important;
      }
    }

  }
}
