body.homepage{
  .content.container {
    overflow: hidden;
    height: auto;
    section.copy {
      margin-top: 30px;
      position: relative;
      overflow: hidden;
      width: 74.4960561%;
      float: left;
      display: block;
      /*@media (min-width: $phone-min) {
       font-size: 58px;
     }*/

      @media (max-width: $phone-max) {
        width: 100%;
      }

      h4 {
        margin-left: 0px;
        padding-left: 10px;
        margin-right: 0px;

        font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
        font-size: 25px;
        font-weight: normal;
        text-align: left;

        line-height: 28px;

        margin-top: 5px;
        margin-bottom: 10px;
        float:right;
        width:100%;
        /*@media (min-width: $phone-min) {
          font-size: 58px;
        }*/
        @media (min-width: $phone-min) {
          padding-left: 10px;
          margin-right: 0px;
          font-size: 30px;
          margin-top: 5px;
          margin-bottom: 10px;
          line-height: 35px;
        }
        @media (min-width: $tablet-min) {
          font-size: 36px;
          margin-top: 5px;
          margin-bottom: 35px;
          line-height: 36px;
          padding-left: 140px;
          width:auto;
        }
        @media (min-width: $tablet-middle) {
          font-size: 48px;
          margin-top: 35px;
          margin-bottom: 35px;
          line-height: 48px;
        }

        @media (min-width: $desktop-min) {
          font-size: 50px;
          margin-bottom: 35px;
          line-height: 50px;
          margin-top:150px;

        }
        @media (min-width: $desktop-large-min) {
          font-size: 58px;
          line-height: 60px;
        }
      }
    }

    section.product {
      width: $full;
      display: block;
      position: relative;
      overflow: hidden;

      a,
      a:focus,
      a:active,
      a:visited{
        position: relative;
        display: block;
        float:left;
        color: #191919;
        font-family: courier, monospace;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        //border-bottom: 1px solid #191919;
        font-size: 20px;
        margin-top: 20px;
        padding: 3px;
        padding-top: 0;
        @media (max-width: $phone-max) {
          margin-left: 10px;
          font-size: 14px;
        }
        span{
          position: absolute;
          top:0;
          left:0;
          width: $full;
          background-color: $salmon;
          display:block;
          height: 0%;
          z-index: -1;
        }
        /*&:hover{
          color: #191919;
          //background-color: #191919;
          span{
            -webkit-animation: btn 500ms ;  Safari 4+
            -moz-animation:    btn 500ms ;  Fx 5+
            -o-animation:      btn 500ms ;  Opera 12+
            animation:         btn 500ms ;  infinite IE 10+, Fx 29+
            height: 100%;
          }
        }*/
      }
      div.product {
        width: 74.4960561%;
        float: left;
        display: block;
        background-color: #1f1f1f !important;
        height: 140px;
        /*@media (min-width: $phone-min) {
         font-size: 58px;
       }*/

        div.info{
          position: absolute;
          bottom: 35px;
          left: 65px;
          width: 235px;
          p{
            position: relative;
            display: block;
            float:left;
            color: $salmon;
            font-family: courier, monospace;
            font-size: 14px;
            width: $full;
          }
          a,
          a:focus,
          a:active,
          a:visited{
            position: relative;
            display: block;
            float:left;
            color: $salmon;
            font-family: courier, monospace;
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: bold;
            //border-bottom: 1px solid $salmon;
            margin-top: 10px;
            font-size: 14px;
            width: $full;
            span{
              position: absolute;
              top:0;
              left:0;
              width: $full;
              background-color: $salmon;
              display:block;
              height: 0%;
              z-index: -1;
            }
            /*&:hover{
              color: #191919;
              //background-color: #191919;
              span{
                -webkit-animation: btn 500ms ;  Safari 4+
                -moz-animation:    btn 500ms ;  Fx 5+
                -o-animation:      btn 500ms ;  Opera 12+
                animation:         btn 500ms ;  infinite IE 10+, Fx 29+
                height: 100%;
              }
            }*/
            /*&:hover{
              color: #191919;
              background-color: $salmon;
            }*/
            @media (max-width: $phone-max) {
              font-size: 12px;
              padding-bottom: 0px;
              margin-left:0;
            }
          }

          @media (max-width: $phone-max) {
            width: 100%;
            bottom: 0px;
            left: 0px;
            padding: 5px;
            p{
              font-size: 12px;
              text-transform: none;
              margin-bottom:0;
            }
          }

        }

        @media (min-width: $phone-min) {
          height: 140px;
        }
        @media (min-width: $tablet-min) {
          height: 275px;
        }
        @media (min-width: $tablet-middle) {
          height: 335px;
        }
        @media (min-width: $desktop-min) {
          height: 335px;
        }
        @media (min-width: $desktop-large-min) {
          height: 415px;
        }

      }

      div.sprite {
        width: 24.1893076%;
        float: left;
        display: block;
        height: 140px;
        margin-left: 1.31463628%;
        background-color: #1f1f1f;
        line-height: 140px;
        overflow: hidden;
        text-align: center;
        img{
          display: inline-block;
          max-width: $full;
          max-height: 125px;
          vertical-align: middle;
          @media (max-width: $phone-max) {
            max-height: 60px;
          }
        }

        /*@media (min-width: $phone-min) {
              font-size: 58px;
            }*/
        @media (min-width: $phone-min) {
          height: 140px;
          line-height: 140px;
        }
        @media (min-width: $tablet-min) {
          height: 275px;
          line-height: 275px;
        }
        @media (min-width: $tablet-middle) {
          height: 335px;
          line-height: 335px;
        }
        @media (min-width: $desktop-min) {
          height: 335px;
          line-height: 335px;
        }
        @media (min-width: $desktop-large-min) {
          height: 415px;
          line-height: 415px;
        }
      }
    }

    section.blog {
      width: $full;
      display: block;
      position: relative;
      //overflow: hidden;
      float: left;
      margin-top: 1.31463628%;
      margin-bottom: 70px;

      a,
      a:focus,
      a:active,
      a:visited{
        position: relative;
        display: block;
        float:right;
        color: #191919;
        font-family: courier, monospace;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        //border-bottom: 1px solid #191919;
        font-size: 20px;
        margin-top: 20px;
        padding: 3px;
        padding-top: 0;
        width: $full;
        span{
          position: absolute;
          top:0;
          left:0;
          width: $full;
          background-color: $salmon;
          display:block;
          height: 0%;
          z-index: -1;
        }
        @media (max-width: $phone-max) {
          font-size: 14px;
        }
        /*&:hover{
          color: #191919;
          //background-color: #191919;
          span{
            -webkit-animation: btn 500ms ;  Safari 4+
            -moz-animation:    btn 500ms ;  Fx 5+
            -o-animation:      btn 500ms ;  Opera 12+
            animation:         btn 500ms ;  infinite IE 10+, Fx 29+
            height: 100%;
          }
        }*/
        /*&:hover{
          color: #191919;
          background-color: $salmon;
        }*/
      }

      div.copy {
        float: left;
        //display: none;
        width: 100%;
        height: auto;
        min-height: 0px;


        @media (min-width: $tablet-min) {
          //height: 345px;
          //margin-top: 15px;
          display: block;
          width: 23.7510955%;
          min-height: 400px;
        }

        @media (min-width: $tablet-middle) {
          //height: 445px;
          margin-top: 15px;
          display: block;
          width: 23.7510955%;
          min-height: 545px;

        }
        @media (min-width: $desktop-min) {
          //height: 545px;
          margin-top: 15px;
          display: block;
          width: 23.7510955%;
          min-height: 545px;

        }
        @media (min-width: $desktop-large-min) {
          //height: 645px;
          min-height: 645px;
          margin-top: 15px;
          display: block;
          width: 23.7510955%;

        }

        h4 {
          //@extend .anim-all;
          margin-left: 0px;
          margin-right: 0px;

          font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
          font-weight: normal;
          text-align: left;
          font-size: 25px;
          margin-top: 5px;
          margin-bottom: 10px;
          line-height: 28px;
          width: 100%;

          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          -ms-hyphens: auto;
          -o-hyphens: auto;
          hyphens: auto;

          -webkit-hyphenate-character: "-";
          word-wrap:break-word;

          @media (min-width: $phone-min) {
            margin-left: 0px;
            margin-right: 0px;
            font-size: 30px;
            //margin-top: 5px;
            margin-bottom: 10px;
            line-height: 35px;
            width: 100%;
          }
          @media (min-width: $tablet-min) {
            //margin-top: 100px;
            line-height:36px;

            font-size: 36px;
            margin-bottom: 0px;
          }
          @media (min-width: $tablet-middle) {
            //margin-top: 155px;
            line-height: 46px;

            font-size: 46px;
          }
          @media (min-width: $desktop-min) {
            //margin-top: 205px;

            font-size: 50px;
            line-height: 50px;

          }
          @media (min-width: $desktop-large-min) {
            //margin-top: 255px;

            font-size: 56px;
            line-height: 60px;
          }


        }
      }

      article.blog__entry {
        position:relative !important;
        width: $full;
        margin-left: 0px;
        float: left;
        display: block;
        background-color: #1f1f1f !important;
        height: 200px;
        /*@media (min-width: $phone-min) {
        font-size: 58px;
      }*/


        div.info{
          position: absolute;
          top: 20px;
          right: 50px;
          width: 230px;
          background-color: rgba(0,0,0,0.4);
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
          p{
            position: relative;
            display: block;
            float:left;
            color: $salmon;
            font-family: courier, monospace;
            font-size: 14px;
            text-transform: uppercase;
            width: $full;
          }
          a,
          a:focus,
          a:active,
          a:visited{
            position: relative;
            display: block;
            float:left;
            color: $salmon;
            font-family: courier, monospace;
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: bold;
            //border-bottom: 1px solid $salmon;
            margin-top: 10px;
            font-size: 14px;
            span{
              position: absolute;
              top:0;
              left:0;
              width: $full;
              background-color: $salmon;
              display:block;
              height: 0%;
              z-index: -1;
            }
            /*&:hover{
              color: #191919;
              //background-color: #191919;
              span{
                -webkit-animation: btn 500ms ;  Safari 4+
                -moz-animation:    btn 500ms ;  Fx 5+
                -o-animation:      btn 500ms ;  Opera 12+
                animation:         btn 500ms ;  infinite IE 10+, Fx 29+
                height: 100%;
              }
            }*/
            /*
            &:hover{
              color: #191919;
              background-color: $salmon;
            }*/
          }


          @media (max-width: $phone-max) {
            width: 40%;
            top: 5px;
            right: 5px;
            padding-bottom: 0px;
            p{
              font-size: 12px;
              text-transform: none;
            }
          }

        }


        @media (min-width: $tablet-min) {
          width: 74.4960561%;
          margin-left: 1.75284838%;

          min-height: 400px;
          height: 100% ;
          //margin-left: 1.75284838%;
          margin-right: 0 ;
          position:absolute  !important;
          right:0;
          top:0;
        }
        @media (min-width: $tablet-middle) {
          margin-left: 1.75284838%;

          width: 74.4960561%;

          min-height: 545px;
          height: 100% ;
          //margin-left: 1.75284838%;
          margin-right: 0 ;
          position:absolute  !important;
          right:0;
          top:0;
        }
        @media (min-width: $desktop-min) {
          width: 74.4960561%;
          //margin-left: 1.75284838%;


          min-height: 545px;
          height: 100% ;
          //margin-left: 1.75284838%;
          margin-right: 0 ;
          position:absolute  !important;
          right:0;
          top:0;
        }
        @media (min-width: $desktop-large-min) {
          min-height: 645px;
          height: 100% ;
          //margin-left: 1.75284838%;
          margin-right: 0 ;
          position:absolute  !important;
          right:0;
          top:0;

        }

      }

    }
  }
}
