body.register{
  //overflow-x: hidden;
  .content.container {
    //overflow: hidden;
    height: auto;
    margin-top: 160px;


    @media (max-width: $phone-max) {
      margin-top: 0px;
    }

    .edit{
      display:none;
    }
    h1{
      position: relative;
      float: left;
      width: auto;
      margin:0;
      padding:0;
      margin-bottom: 30px;
      line-height: 25px;
      color: #4c4c4c;
      font-family: courier, monospace;
      font-size: 16px;
      text-transform: uppercase;
      img{
        display:inline-block;
        vertical-align: middle;
        height: 25px;
        margin-right: 15px;
      }

      @media (max-width: $phone-max) {
        margin-top: 30px;
        width: $full;
      }
    }
    a,
    a:active,
    a:visited,
    a:focus{
      position:relative;
      background-color: $salmon;
      color: $white;
      padding-right:50px;
      padding-left:50px;
      cursor: pointer;
      font-family: 'Conv_DINBold';
      font-size: 12px;
      width: auto;
      float:right;
      margin-left: 10px;
      height: 35px;
      line-height: 35px;
      text-decoration: none;
      margin-bottom: 10px;
      &.editprofile{
        background-color: $green;
        display: block;
      }
      &.cancel{
        background-color: #191919;
        display: none;
      }
      &.save{
        display: none;
      }
      &:hover{
        background-color: #191919;
      }
      @media (max-width: $phone-max) {
        max-width: $full;
      }
    }

    ul{
      position: relative;
      width: $full;
      margin:0;
      padding:0;
      margin-bottom: 100px;
      float:left;
      text-align: left;
      border-spacing: 0px;
      list-style: none;
      @media (max-width: $phone-max) {
        border-top: 1px solid #000;
      }
      li{
        position: relative;
        width: $full;
        float:left;
        a,
        a:visited,
        a:focus,
        a:active,
        p{
          position: relative;
          float:left;
          font-family: courier, monospace;
          font-weight: normal;
          color:#000;
          font-size: 12px;
          text-decoration: none;
          margin:0;
          padding:0;
          line-height: 14px;
          height: auto;
          @media (max-width: $phone-max) {
            font-size: 14px;
            width: $full;
          }
          span{
            font-family: courier, monospace;
            font-weight: normal;
            font-size: 12px;
          }
        }
        p{
          width: 15%;
          &.items{
            width: 40%;
          }
          @media (max-width: $phone-max) {
            width: $full;
            padding-left: 50%;
            margin-top: 10px;
            &.items{
              width: $full;
            }
            span{
              position: absolute;
              width: 50%;
              left:0;
              top:0;
              font-size: 14px;
            }
          }
        }
        a,
        a:visited,
        a:focus,
        a:active{
          display: initial;
          float:none;
          background-color: transparent;
          @media (max-width: $phone-max) {
            width: auto;
          }
          &.download{
            text-decoration: underline;
            text-transform: uppercase;
          }
          &.detail{
            font-family: 'Conv_DINBold';
          }
          &:hover{
            background-color: transparent;
            color: $green;
          }
        }
      }
      li.head{
        border-bottom: 1px solid #000;
        p{
          font-family: courier, monospace;
          font-weight: normal;
          font-size: 12px;
          width: 15%;
          &.items{
            width: 40%;
          }
        }
      }
      li.body{
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
      }
    }

    form{
      position:relative;
      width: $full;
      float:left;
      border-top: 1px solid #000;
      margin-bottom: 100px;
      div{
        h2,
        p,
        label{
          margin:0;
          padding:0;
          position:relative;
          float:left;
          width: $full;
          font-family: 'Conv_DINBold';
          font-size: 14px;
          span{
            font-family: 'Conv_DINRegular';
            font-size: 13px;
            color: #949494;
            width:auto !important;
            float:none !important;
            padding:0 !important;
            line-height:14px !important;
            background-color: transparent !important;
          }
        }
        h2{
          margin-top: 25px;
          margin-bottom: 40px;
        }
        label{
          margin-bottom: 10px;
          a,a:visited,a:focus,a:active{
            font-family: 'Conv_DINRegular';
            color: #949494;
            width:auto !important;
            float:none !important;
            padding:0 !important;
            line-height:14px !important;
            background-color: transparent !important;
            &:hover{
              color: $black !important;
              background-color: transparent !important;
            }
          }
        }
        p{
          margin-top: 30px;
          line-height: 40px;
          width: auto;
          &.static,
          &.fixed{
            margin-top: 0px;
            line-height: 20px;
            width: $full;
            font-family: courier, monospace;
            color: $black;
            font-weight: $regular;
            font-size: 14px;
            margin-bottom: 20px;
            &.opt{
              color: #d3d3d3;
            }
          }
        }
        div{
          position:relative;
          float:left;
          width: $full;
        }
        a,
        a:active,
        a:visited,
        a:focus,
        input{
          position:relative;
          float:left;
          width: $full;
          margin:0;
          -webkit-border-radius:0;
          border-radius:0;
          -webkit-appearance: none;
          border: 0;
          padding: 10px;
          font-family: courier, monospace;
          background-color: #fafafa;
          margin-bottom: 5px;
          max-width: 275px;
          text-decoration: none;
          color: $black;
          font-weight: $regular;
          font-size: 14px;
          border-bottom: 1px solid #1f1f1f;
          &.error{
            background-color: $salmon;
          }
          line-height: 14px;
          @media (max-width: $phone-max) {
            max-width: $full;
          }
          &[type="submit"]{
            background-color: $salmon;
            color: $white;
            padding-right:50px;
            padding-left:50px;
            cursor: pointer;
            font-family: 'Conv_DINBold';
            font-size: 12px;
            width: auto;
            float:right;
            margin-right: 10px;
            height: 40px;
            margin-top: 30px;
            border-bottom: 0px solid #1f1f1f !important;
            &:hover{
              background-color: #191919;
            }
          }
          span{
            position: absolute;
            right: 10px;
            top: 0;
            font-weight: bold;
            line-height: 32px;
          }
        }
        a.active,
        a:hover{
          background-color: #F1F1F1 !important;
          color:#191919;
        }
        ul{
          position:absolute;
          left:0;
          top: $full;
          padding:0;
          margin:0;
          z-index: 300;
          width: $full;
          max-height: 150px;
          overflow: auto;
          display:none;
          li{
            a{
              margin-bottom:0 !important;
              display: block !important;
            }
          }
        }
        &.half{
          position:relative;
          width: 50%;
          float:left;
          padding:0;
          padding-right: 5px;
          padding-left: 5px;


          @media (max-width: $phone-max) {
            width: $full;
          }
        }
        &.checkboxes{
          margin-top:45px;
          .checkbox{
            margin-bottom: 10px;
            cursor: pointer;
            span{
              position: absolute;
              top:0;
              left:0;
              width: 20px;
              height: 20px;
              border: 1px solid #000;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
            }
            p{
              padding:0;
              padding-left: 30px;
              margin:0;
              line-height: 20px;
              font-family: 'Conv_DINRegular';
              font-weight: normal;
              a,
              a:active,
              a:visited,
              a:focus{
                font-family: 'Conv_DINRegular';
                font-weight: normal;
                padding:0;
                display: inline-block;
                text-decoration: underline;
                background: transparent;
                width: auto;
                height: auto;
                float:none;
                &:hover{
                  background-color: transparent !important;
                }
              }
            }
            &:hover,
            &.active{
              span{
                background-color: #000 !important;
              }
            }
            &.active{
              span{
                background-image: url(../images/site/checkbox.png);
                background-position: 50% 50%;
              }
            }
            &.error{
              span{
                background-color: $salmon;
              }
            }
          }
        }
      }
    }


    form.cart {
      overflow: auto;
      position: relative;
      width: $full;
      h4{
        position: relative;
        float:left;
        width: 100%;
        text-transform: uppercase;
        color: #191919;
        font-family: courier, monospace;
        font-size: 16px;
        font-weight: bold;
        margin:0;
        padding: 0;
        margin-bottom: 30px;
        img{
          display:inline-block;
          vertical-align: middle;
          height: 25px;
          margin-right: 15px;
        }
      }
      ul.itemslist{
        position: relative;
        width: $full;
        margin:0;
        padding:0;
        float:left;
        text-align: left;
        border-spacing: 0px;
        list-style: none;
        @media (max-width: $phone-max) {
          border-top: 1px solid #000;
        }
        li{
          position: relative;
          width: $full;
          float:left;
          a,
          a:visited,
          a:focus,
          a:active,
          p,
          div{
            position: relative;
            float:left;
            font-family: courier, monospace;
            font-weight: normal;
            color:#000;
            font-size: 12px;
            text-decoration: none;
            margin:0;
            padding:0;
            line-height: 14px;
            height: auto;
            @media (max-width: $phone-max) {
              font-size: 14px;
              width: $full;
            }
            span{
              font-family: courier, monospace;
              font-weight: normal;
              font-size: 12px;
            }
          }
          p,
          div{
            width: 15%;
            &.items{
              width: 70% !important;
            }
            @media (max-width: $phone-max) {
              width: $full;
              &.items{
                z-index: 23;
                width: $full !important;
                padding:0;
              }
              span{
                position: relative;
                width: $full;
                left:0;
                top:0;
                font-size: 14px;
                float:left;
                margin-bottom: 10px;

                @media (max-width: $phone-max) {
                  &.visible-phone{
                    margin-top: 20px;
                  }
                }
              }
            }
          }
          a,
          a:visited,
          a:focus,
          a:active{
            display: initial;
            float:none;
            background-color: transparent;
            @media (max-width: $phone-max) {
              width: auto;
            }
            &.download{
              text-decoration: underline;
              text-transform: uppercase;
            }
            &:hover{
              background-color: transparent;
              color: $green;
            }
          }
        }
        li.head{
          border-bottom: 1px solid #000;
          p{
            font-family: courier, monospace;
            font-weight: normal;
            font-size: 12px;
            width: 15%;
            &.items{
              width: 40%;
            }
          }
        }
        li.body{
          padding-top: 30px;
          padding-bottom: 30px;
          //border-bottom: 1px solid #000;
          min-height: 70px;
          @media (max-width: $phone-max) {
            padding-top: 0px;
          }
          div.images{
            position: absolute;
            left:0;
            top:0;
            width: 70px;
            height: 70px;
            float:left;
            overflow: hidden;
            div{
              width: $full;
            }
            img{
              width: 70px;
            }
            @media (max-width: $phone-max) {
              top: 42px;
            }
          }
          h5{
            position: relative;
            float:left;
            width: $full;
            font-size:22px;
            font-family: 'Conv_DINBold';
            margin: 0;
            padding:0;
            padding-left:90px;
            text-transform: uppercase;
            margin-bottom: 10px;
          }
          div.colors{
            position: relative;
            float:left;
            width: $full;
            padding-left:90px;
            padding-right:40px;
            @media (max-width: $phone-max) {
              padding-right:0px;
            }
            a,
            a:active,
            a:focus,
            a:visited{
              position: relative;
              float:left;
              width: $full;
              display:block;
              font-size: 14px;
              padding: 5px;
              padding-right: 20px;
              padding-left: 25px;
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              &:hover{
                color: #191919;
                font-weight: bold;
              }
              span{
                position: absolute;
                width: 15px;
                height: 15px;
                display: block;
                top: 5px;
                left:5px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
              }
              &.active{
                border: 1px solid #d0d0d0;
                strong{
                  position: absolute;
                  right: 5px;
                  top: 50%;
                  margin-top:-7px;
                  height: 12px;
                  width: 15px;
                  text-align: center;
                  font-size: 11px;
                }
              }
            }
            ul {
              position: absolute;
              display:none;
              left:90px;
              right:40px;
              top: 100%;
              margin: 0;
              margin-top: -2px;
              padding: 0;
              list-style: none;
              border: 1px solid #d0d0d0;
              border-top: 1px solid #fff;
              background-color: #fff;
              max-width: 100%;
              max-height: 80px;
              @media (max-width: $phone-max) {
                right:0px;
              }
              li{
                &.active{
                  display:none;
                }
              }
            }
          }
          div.quantity{
            position:relative;
            float:left;
            padding-left: 25px;
            padding-right: 25px;
            width: $full;
            input{
              position:relative;
              float:left;
              text-align: right;
              width: $full;
              height: 20px;
              font-family: courier, monospace;
              font-weight: normal;
              font-size: 12px;
              @media (max-width: $phone-max) {
                height: 30px;
                font-size: 18px;
              }
            }
            @media (max-width: $phone-max) {
              margin-top:0px;
              padding-left: 35px;
              padding-right: 35px;
            }
          }

          p.price{
            width: 100%;

            font-size: 16px;
            line-height: 20px;
          }
          a.item,
          a.item:active,
          a.item:focus,
          a.item:visited{
            position:absolute;
            top:0;
            color: white;
            width: 20px;
            height: 20px;
            display:block;
            background-color: #000;
            line-height: 17px;
            text-align: center;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-weight: bold;
            font-family: 'Conv_DINBold';
            font-size: 18px;
            z-index: 40;
            @media (max-width: $phone-max) {
              top:44px;
              width: 30px;
              height: 30px;
              line-height: 27px;
            }
            &.minus{
              right: 0;
            }
            &.plus{
              left:0;
            }
          }
        }

      }
      p{
        font-family: courier, monospace;
        font-weight: normal;
        position:relative;
        width: auto;
        margin:0;
        &.sub{
          font-size: 14px;
          line-height: 30px;
          float:left;
        }
        &.subtotal{
          font-weight: bold;
          font-size: 30px;
          float:right;
        }
      }
      div.bottom{
        position: relative;
        float: left;
        width: $full;
        margin-top: 40px;
      }

      a,
      a:active,
      a:visited,
      a:focus,
      input[type="submit"]{
        background-color: $green;
        &:hover{
          background-color: #191919;
        }
        -webkit-border-radius:0;
        border-radius:0;
        -webkit-appearance: none;
        border: 0;
        position:relative;
        color: $white;
        padding-right:20px;
        padding-left:20px;
        cursor: pointer;
        font-family: 'Conv_DINBold';
        font-size: 12px;
        width: auto;
        float:right;
        margin-left: 10px;
        height: 35px;
        line-height: 35px;
        text-decoration: none;
        margin-bottom: 10px;
        border-bottom: 0px solid #1f1f1f !important;
        &.cancel{
          background-color: #191919;
        }
        &.paypal{
          float:left;
          background-color: transparent;
          padding-right:0px;
          padding-left:0px;
          margin-left: 0px;
          line-height: 35px;
          img{
            vertical-align: middle;
            display:inline-block;
            height: 12px;
          }
        }
        /*@media (max-width: $phone-max) {
          max-width: $full;
        }*/
      }

      input[type="submit"]{
        line-height: 0px;
      }
    }

  }
}
