body.saddles{

  #wrapper{
    min-height: 0%;
    height: auto;
    background-color: #000;
    overflow: hidden;
    div.container.information{
      position: relative;
      margin-top: 170px;
      margin-bottom: 50px;

      @media (max-width: $tablet-middle) {
        margin-top: 0px;
      }

      @media (max-width: $phone-max) {
        margin-top: 0px;
      }


    }

    div.image{
      position: absolute;
      width: 100%;
      height: 100%;
      right:-50px;
      padding-left:370px;
      float:none;
      img{
        position: relative;
        float:left;
        width: $full;
      }

      @media (max-width: $phone-max) {
        position: relative;
        width: 100%;
        height: auto;
        right: 0px;
        float: left;
        padding: 0;
      }

    }

    div.info{
      position: relative;
      float: left;
      width: 350px;
      clear: left;

      h2{
        position: relative;
        max-width: 100%;
        margin: auto;
        font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
        font-size: 30px;
        font-weight: normal;
        text-align: left;

        line-height: 35px;

        color: #fff;

        margin-top: 50px;

        /*@media (min-width: $phone-min) {
          font-size: 58px;
        }*/

        @media (min-width: $phone-min) {
          font-size: 30px;
          line-height: 35px;
          width: 100%;
        }

        @media (min-width: $tablet-min) {
          font-size: 36px;
          line-height: 40px;

        }
        @media (min-width: $tablet-middle) {
          font-size: 48px;
          line-height: 50px;

        }

        @media (min-width: $desktop-min) {
          font-size: 50px;
          line-height: 60px;

        }
        @media (min-width: $desktop-large-min) {
          font-size: 60px;
          line-height: 70px;
        }


      }

      .break {
        position:relative;
        width:$full;
        max-width: 275px;
        float:left;
        display: block;
        position: relative;
        background-image: url('../images/molaswhite.png');
        background-image: url('../images/molaswhite.svg');

        background-size: 15px 30px;
        background-repeat: no-repeat;

        height: 30px;
        background-position: center top;
        margin-top: 30px;
        margin-bottom: 30px;
        span{
          position:absolute !important;
          height: 1px;
          background-color: #fff;
          top: 14px;
          width: 45%;
          display:block;
          &.left{
            left: 0px !important;
          }
          &.right{
            right: 0px !important;
          }
        }



      }

      p{
        position: relative;
        display: block;
        float:left;
        color: #fff;
        font-family: courier, monospace;
        font-size: 14px;
        width:$full;
        max-width: 275px;
      }

      a,
      a:focus,
      a:active,
      a:visited{
        position: relative;
        display: block;
        float:left;
        color: #fff;
        font-family: courier, monospace;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        //border-bottom: 1px solid #fff;
        margin-top: 10px;
        font-size: 14px;
        padding: 3px;
        padding-top:0;
        z-index: 1;
        span{
          position: absolute;
          top:0;
          left:0;
          width: $full;
          background-color: #fff;
          display:block;
          height: 0%;
          z-index: -1;
        }
        /*&:hover{
          color: $green;
          //background-color: #191919;
          span{
            -webkit-animation: btn 500ms ;  Safari 4+
            -moz-animation:    btn 500ms ;  Fx 5+
            -o-animation:      btn 500ms ;  Opera 12+
            animation:         btn 500ms ;  infinite IE 10+, Fx 29+
            height: 100%;
          }
        }*/
        /*
        &:hover{
          background-color: #fff;
          color: #000;
        }*/
      }

      @media (max-width: $phone-max) {
        width: 100%;
        padding-left:15px;
        padding-right:15px;
        p{
          max-width: $full;
          font-size: 12px;
          text-transform: none;
          margin-bottom:0;
        }
      }
    }

  }

  .content.container {
    overflow: hidden;
    height: auto;
    section.saddles {
      position: relative;
      text-align: center;

      article.style{
        margin-top: 50px;
        margin-bottom: 50px;
        display: inline-block;
        float:none;
        margin-left: 25px;
        text-align: left;
        &.full{
          margin-left: 0px;
        }
        &.one{
          max-width:420px;
          margin-right: 125px;
          div.holder{
            position: relative;
            float:left;
            width: $full;
            height: 145px;
            text-align: left;
            img{
              display:inline-block;
              max-width: 100%;
              max-height: 100%;
              width:auto;
              height: auto;
            }
            margin-bottom: 30px;
          }

          p.desc{
            height: 65px;
            overflow:hidden;
            text-overflow:ellipsis;
          }
        }
        &.two{

          div.holder{
            position: relative;
            float:left;
            width: $full;
            height: 115px;
            text-align: left;
            img{
              display:inline-block;
              max-width: 100%;
              max-height: 100%;
              width:auto;
              height: auto;
            }
            margin-top: 40px;
          }

          p.desc{
            height: 65px;
            overflow:hidden;
            text-overflow:ellipsis;
          }

          max-width:210px;
          margin-right: 25px;
        }
        &.three{

          div.holder{
            position: relative;
            float:left;
            width: $full;
            height: 115px;
            text-align: left;
            img{
              display:inline-block;
              max-width: 100%;
              max-height: 100%;
              width:auto;
              height: auto;
            }
            margin-bottom: 40px;
          }

          p.desc{
            height: 65px;
            overflow:hidden;
            text-overflow:ellipsis;
          }

          max-width:210px;
          margin-right: 25px;
        }

        @media (max-width: $tablet-max) {
          &.one{
            margin-right: 35px;
          }
          &.two{
            margin-right: 35px;
          }
          &.three{
            margin-right: 35px;
          }
        }

        @media (max-width: $tablet-middle) {
          max-width: 49% !important;
          margin-right:0 !important;
          padding-left:15px;
          padding-right:15px;

          margin-left: 0 !important;
          &.one,
          &.two,
          &.three {
            div.holder {
              text-align: left;
            }
          }
        }

        @media (max-width: $phone-max) {
          max-width: 100% !important;
          padding-left:15px;
          padding-right:15px;
          p{
            -webkit-column-count: initial !important; /* Chrome, Safari, Opera */
            -moz-column-count: initial !important;  /* Firefox */
            column-count: initial !important;
            -webkit-column-gap: 0px!important;  /* Chrome, Safari, Opera */
            -moz-column-gap: 0px!important;  /* Firefox */
            column-gap: 0px!important;
            text-align: left;
            width: auto;
          }

          &.one,
          &.two,
          &.three {
            div.holder {
              height: 145px;
            }
          }
        }

      }
      article.style,
      a.style:focus,
      a.style:active,
      a.style:visited,
      a.style{
        @extend .anim-all;
        position: relative;
        width: $full;
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        ul{
          position: relative;
          margin:0;
          padding:0;
          float:right;
          list-style: none;
          li{
            float:left;
            margin-left: 5px;
            a:focus,
            a:active,
            a:visited,
            a{
              display: inline-block;
              width: 20px;
              height: 20px;
              overflow: hidden;
              -webkit-border-radius: 10px;

              -moz-border-radius: 10px;

              border-radius: 10px;
            }
          }

        }

        h3 {
          position: relative;
          width: $full;
          margin: auto;
          font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
          font-size: 30px;
          font-weight: normal;
          text-align: left;
          line-height: 35px;
          color: #1f1f1f;
          margin-bottom: 50px;
          text-transform: uppercase;
          span{
            text-transform: uppercase;
            border-bottom: #1f1f1f solid 7px;
            font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
            font-weight: normal;
            display:inline-block;
            &.promo{
              position: absolute;
              z-index:40;
              display:block;
              top:-20px;
              left:-25px;
              background-color: $salmon;
              color: $white;
              font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
              font-size: 15px;
              line-height: 15px;
              padding: 10px;
              text-transform: uppercase;
              border-bottom: #1f1f1f solid 0px;
              -ms-transform: rotate(-20deg); /* IE 9 */
              -webkit-transform: rotate(-20deg); /* Safari */
              transform: rotate(-20deg);
              @media (max-width: $phone-max) {
                top:-25px;
                left: -15px;
              }
            }
          }
          /*@media (min-width: $phone-min) {
            font-size: 58px;
          }*/
        }

        img{
          position: relative;
          width: $full;
        }

        p{
          margin:0;
          position: relative;
          display: block;
          float:left;
          color: #1f1f1f;
          font-family: courier, monospace;
          font-size: 14px;
          font-weight: 100;
          //text-transform: uppercase;
          span{
            color: #1f1f1f;
            font-family: courier, monospace;
            font-size: 14px;
            font-weight: 100;
          }
          &.gender{
            background-color: #1f1f1f;
            color: #fff;
            padding: 3px;
            width: auto;
          }
        }

        hr{
          position: relative;
          display: block;
          float:left;
          width: $full;
          margin-top: 50px;
          margin-bottom: 10px;
          border-bottom: #1f1f1f solid 1px;
        }


        &:hover{
          /*-ms-transform: scale(1.02,1.02);  IE 9
          -webkit-transform: scale(1.02,1.02); Safari
          transform: scale(1.02,1.02); */
        }

      }

      @media (max-width: $tablet-middle) {
        text-align: left;
      }
      @media (max-width: $phone-max) {
        width: $full;
        max-width: $full;
        a{
          float: right;
        }
        p{
          text-align: right;
          text-transform: none;
          width: $full;
        }
      }

    }


  }
}
