body.saddledetail{
  //overflow-x: hidden;
  .content.container {
    //overflow: hidden;
    height: auto;
    margin-top: 160px;


    @media (max-width: $phone-max) {
      margin-top: 40px;
    }

    section.product {
      width: $full;
      display: block;
      position: relative;
      //overflow: hidden;
      margin-top: 20px;
      //margin-bottom: 50px;
      float:left;

      a,
      a:focus,
      a:active,
      a:visited{
        position: relative;
        display: block;
        float:right;
        color: #191919;
        font-family: courier, monospace;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 50px;
        clear:right;
      }

      div.copy {
        float: left;
        //display: none;
        width: 100%;
        height: auto;

        margin-bottom: 50px;

        /*@media (min-width: $phone-min) {
        font-size: 58px;
      }*/
        @media (min-width: $tablet-min) {
          height: 345px;
          display: block;
          width: 23.7510955%;
        }
        @media (min-width: $tablet-middle) {
          height: 445px;
          display: block;
          width: 23.7510955%;

        }
        @media (min-width: $desktop-min) {
          height: 545px;
          display: block;
          width: 23.7510955%;

        }
        @media (min-width: $desktop-large-min) {
          height: 645px;
          display: block;
          width: 23.7510955%;

        }


        h1 {
          font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
          font-weight: normal;
          text-align: left;
          letter-spacing: -2px;

          margin-left: 0px;
          padding-right: 50px;
          font-size: 35px;
          margin-top: 0px;
          margin-bottom: 10px;
          line-height: 40px;
          width: 100%;


          @media (max-width: $phone-max) {
            margin-top: 50px;
            margin-left: 15px;
            padding-left:15px;
          }

          /*@media (min-width: $phone-min) {
        font-size: 58px;
      }*/
          @media (min-width: $phone-min) {
            margin-right: 15px;
            font-size: 30px;
            margin-top: 5px;
            margin-bottom: 10px;
            line-height: 35px;
            width: 100%;
          }

        }


        a,
        a:focus,
        a:active,
        a:visited{
          position: relative;
          display: block;
          float:left;
          color: #191919;
          font-family: courier, monospace;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: underline;
          font-size: 14px;
          margin-bottom: 50px;
          margin-top: 50px;
          clear:left;
          padding: 3px;
          z-index: 1;
          padding-bottom: 5px;
          span{
            position: absolute;
            top:0;
            left:0;
            width: $full;
            background-color: #191919;
            display:block;
            height: 0%;
            z-index: -1;
          }
          &:hover{
            color: #fff;
            //background-color: #191919;
            span{
              -webkit-animation: btn 500ms ; /* Safari 4+ */
              -moz-animation:    btn 500ms ; /* Fx 5+ */
              -o-animation:      btn 500ms ; /* Opera 12+ */
              animation:         btn 500ms ; /* infinite IE 10+, Fx 29+ */
              height: 100%;
            }
          }
        }

        p{
          position: relative;
          display: block;
          float:left;
          color: #191919;
          width: 100%;
          margin:0;
          font-size: 14px;
          margin-bottom: 10px;
        }


      }

      article.product{
        &__details {
          position: relative;
          width: $full;
          float:left;
          margin-left: 0px;
          //float: right;
          display: block;
          height: auto;
          //clear:right;
          text-align: center;
          /*@media (min-width: $phone-min) {
          font-size: 58px;
        }*/

          @media (min-width: $tablet-middle) {
            margin-left: 5%;
            width: 90%;
          }
          @media (min-width: $desktop-min) {
            margin-left: 12%;
            width: 76%;
            //margin-left: 1.75284838%;
          }
          @media (min-width: $desktop-large-min) {
            //margin-left: 1.75284838%;
          }

          div.images {
            position: relative;
            width: 66%;
            margin-left: 0px;
            float: left;
            display: block;
            //background-color: #fff !important;
            //height: 400px;
            clear:right;
            overflow:hidden !important;
            /*@media (min-width: $phone-min) {
            font-size: 58px;
          }*/

            @media (min-width: $tablet-min) {
              //height: 400px;
            }
            @media (min-width: $tablet-middle) {
             // height: 545px;
            }
            @media (min-width: $desktop-min) {
              //height: 545px;
            }
            @media (min-width: $desktop-large-min) {
             // height: 645px;
            }

            img{
              width: $full;
            }
            span.disabled{
              position: absolute;
              top: 80px;
              left:-5px;
              width: 100px;
              height: 170px;
              display:block;
              color:#fff;
              font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
              font-size: 12px;
              padding:0;
              text-align: center;
              line-height: 20px;
              z-index:200;
              overflow:hidden;
              span{
                position: absolute;
                top:20px;
                left:-30px;
                display:block;
                width: 200px;
                height: 2px;
                background-color: $light_grey_2;
                -ms-transform: rotate(-45deg); /* IE 9 */
                -webkit-transform: rotate(-45deg); /* Safari */
                transform: rotate(-45deg);
              }
              p{
                position: absolute;
                bottom:0;
                left:0;
                width: $full;
                text-align: center;
                color: $light_grey_2;
                font-size: 15px;
                line-height: 15px;
              }
            }
            a.buy,
            a.buy:visited,
            a.buy:focus,
            a.buy:active{
              position: absolute;
              top: 80px;
              left:0;
              width: 85px;
              height: 85px;
              background-color: #000;
              color:#fff;
              padding:0;
              text-align: center;
              font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
              font-size: 12px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              line-height: 20px;
              &.promo{
                border: 5px solid $salmon;
                width: 90px;
                height: 90px;
              }
              &.disabled{
                border: 5px solid $light_grey_1;
                background-color: $light_grey_1;
              }
              img{
                margin-top: 18px;
                width: 25px;
                display:inline-block;
                float:none;
              }
              &:hover{
                background-color: $salmon;
              }

            }

            @media (max-width: $phone-max) {
              width: $full;
              padding-left: 15px;
              padding-right: 15px;
            }

          }

          div.details {
            position: relative;
            width: 32%;
            margin-left: 0px;
            float: right;
            display: block;
            //background-color: #fff !important;
            //height: 400px;
            overflow:hidden !important;
            padding-top: 160px;

            @media (max-width: $phone-max) {
              width: $full;
              padding-left: 15px;
              padding-right: 15px;
              padding-top: 50px;
            }

          }

          h1 {
            position: absolute;
            width: $full;
            margin: auto;
            font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
            font-size: 30px;
            font-weight: normal;
            text-align: left;
            line-height: 35px;
            color: #1f1f1f;
            margin-bottom: 50px;
            text-transform: uppercase;
            top:0;
            left:0;
            z-index: 20;
            strong{
              font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
              font-size: 30px;
            }
            span{
              text-transform: uppercase;
              border-bottom: #1f1f1f solid 7px;
              font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
              font-weight: normal;
              &.promo{
                position: absolute;
                z-index:40;
                display:block;
                top:-20px;
                left:-25px;
                background-color: $salmon;
                color: $white;
                font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
                font-size: 15px;
                line-height: 15px;
                padding: 10px;
                text-transform: uppercase;
                border-bottom: #1f1f1f solid 0px;
                -ms-transform: rotate(-20deg); /* IE 9 */
                -webkit-transform: rotate(-20deg); /* Safari */
                transform: rotate(-20deg);
                @media (max-width: $phone-max) {
                  top:-25px;
                  left:0px;
                }
              }
            }

            @media (max-width: $phone-max) {
              padding-left: 15px;
            }

            @media (min-width: $phone-min) {
            }

          }

          h4{
            position: relative;
            display: block;
            color: #fff;
            width: auto;
            float:left;
            font-family: courier, monospace;
            text-decoration: none;
            font-size: 16px;
            clear:both;
            text-align: left;
            text-transform: uppercase;
            background-color:  #191919;
            margin:auto;
            padding:3px;
            padding-top:0;
            padding-bottom:0;
            font-weight: normal;
            margin-bottom: 30px;
            margin-left:0;
            @media (max-width: $phone-max) {
              font-size: 16px;
            }
            &.gender{
              margin-top: 30px;
            }
          }

          p{
            position: relative;
            display: block;
            float:left;
            color: #191919;
            font-family: courier, monospace;
            text-decoration: none;
            font-size: 16px;
            margin-top: 0;
            width: $full;
            text-align: left;
            margin-bottom: 30px;
            clear:both;

            s,
            strong{
              font-family: courier, monospace;
              font-size: 16px;
            }

            s{
              color: #d0d0d0;
            }

            @media (max-width: $phone-max) {
              font-size: 14px;
              s,
              strong{
                font-family: courier, monospace;
                font-size: 14px;
              }
            }

            &.col{

              @media (max-width: $phone-max) {
                width: 50%;
                clear:none;

                &.first{
                  clear:left;
                }
              }


            }
          }

          a,
          a:visited,
          a:focus,
          a:active{
            position: relative;
            display: block;
            float:left;
            color: #191919;
            font-family: courier, monospace;
            text-decoration: none;
            font-size: 16px;
            clear:left;
            width: $full;
            text-align: left;
            font-weight: normal;
            text-transform: none;
            margin:0;
            margin-bottom: 10px;
            line-height: 20px;
            padding-left: 50px;
            s,
            strong{
              font-family: courier, monospace;
              font-size: 16px;
            }
            span{
              position: absolute;
              left: 5px;
              width: 20px;
              height: 20px;
              overflow: hidden;

              -webkit-border-radius: 10px;

              -moz-border-radius: 10px;

              border-radius: 10px;

              margin-right: 20px;
              img{
                width: 100%;
                height: 100%;
                margin: 0 !important;
              }
              @media (max-width: $phone-max) {
                width: 30px;
                height: 30px;

                -webkit-border-radius: 15px;

                -moz-border-radius: 15px;

                border-radius: 15px;
                line-height: 30px;
              }
            }
            &:hover,
            &.active {
              font-weight: bold;
            }

            @media (max-width: $phone-max) {
              font-size: 14px;
              line-height: 30px;
              s,
              strong{
                font-family: courier, monospace;
                font-size: 14px;
              }
            }
          }

          div.block{
            &__one{
              position: relative;
              float: left;
              width: 100%;
              display: block;
              div.images {
                @extend .anim-all;
                position: relative;
                margin-left: 0px;
                margin-right: -16%;
                display: block;
                clear:right;
                overflow:visible !important;
                //top:-25%;
                //bottom:0%;
                z-index:0;
                @media (max-width: $tablet-max) {
                  right: 0%;
                  margin-right: 0%;
                }
                @media (max-width: $phone-max) {
                  width: $full;
                  position: relative;
                  top:0;
                  img{
                    margin-left: 0%;
                  }
                  right: 0%;
                }

              }
              h3{
                @extend .anim-all;
                position: relative;
                float: left;
                width: 100%;
                display: block;
                max-width: 350px;
                text-align: left;
                margin-left: 0px;
                font-size: 30px;
                line-height: 36px;
                z-index:3;
                @media (max-width: $tablet-max) {
                  max-width:30%;
                }
                @media (max-width: $phone-max) {
                  max-width: $full;
                  margin-left: 0px;
                  padding: 15px;
                  font-size: 26px;
                }
              }
              @media (max-width: $phone-max) {
                margin-top: 50px;
              }
            }
            &__two{
              @extend .anim-all;
              position: relative;
              float: left;
              width: 100%;
              display: block;
              margin-top: 0px;
              div.images {
                position: relative;
                margin-left: -16%;
                display: block;
                clear:left;
                overflow:visible !important;
                //top:-25%;
                //bottom:0%;
                @media (max-width: $phone-max) {
                  width: 80%;
                  position: relative;
                  //top:0;
                  //left:0%;
                  margin-left:10%;
                }
              }
              h3{
                @extend .anim-all;
                position: relative;
                float: right;
                width: 100%;
                display: block;
                max-width: 350px;
                text-align: left;
                font-size: 30px;
                line-height: 36px;
                @media (max-width: $phone-max) {
                  max-width: $full;
                  margin-left: 0;
                  margin-top: 0;
                  padding: 15px;
                  font-size: 26px;
                }
              }
              @media (max-width: $phone-max) {
                margin-top: 50px;
              }
            }
          }
        }

      }
      @media (max-width: $phone-max) {
        margin-bottom: 50px;
      }

    }
  }
}
