ul.steps{
  position: relative;
  margin-top: 40px;
  margin-bottom: 100px;
  padding:0;
  width: $full;
  list-style: none;
  text-align: center;
  li{
    position:relative;
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    vertical-align: top;
    text-align:left;
    span{
      font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
      font-size: 12px;
      display:block;
      background-color: #e6e6e6;
      color: $white;
      &.point{
        position:relative;
        display:inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 10px;
      }
      &.line{
        position:absolute;
        height: 2px;
        width: 85px;
        left:-83px;
        top:50%;
        margin-top:-1px;
      }
    }
    p{
      font-family: 'Conv_DINRegular', Helvetica, Verdana, sans-serif;
      font-size: 12px;
      position:absolute;
      width: 80px;
      top: 100%;
      left:50%;
      margin-left: -40px;
      color:#b6b6b6;
      text-align: center;
    }
    &.active{
      span{
        background-color: $black;
      }
      p{
        font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
        color:#000;
      }
    }
    &.current{
      span.point{
        width: 35px !important;
        height: 35px !important;
        line-height: 35px !important;
        margin-top: 0px;
        font-size: 13px;
      }
      span.line{
        margin-top:-3px;
      }
    }
  }
  @media (max-width: 700px) {
    li{
      position:relative;
      display: inline-block;
      margin-left: 20px;
      margin-right: 20px;
      vertical-align: top;
      width:50%;
      margin-bottom: 40px;
      span{
        font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
        font-size: 12px;
        display:block;
        background-color: #b6b6b6;
        color: $white;
        &.point{
          position:relative;
          width: 30px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }
        &.line{
          position:absolute;
          height: 58px;
          width: 2px;
          left: 15px;
          top: -45px;
          margin-top:0;
        }
      }
      p{
        font-family: 'Conv_DINRegular', Helvetica, Verdana, sans-serif;
        font-size: 12px;
        position:absolute;
        width: $full;
        top: 0%;
        left:50px;
        color:#b6b6b6;
        text-align: left;
        padding:0 !important;
        margin:0 !important;
        margin-top:8px !important;
      }
      &.active{
        span{
          background-color: $black;
        }
        p{
          font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
          color:#000;
        }
      }
    }
  }
}
