body.tabor{

  #wrapper{
    div.image{
      position: absolute;
      width: $full;
      height: $full;
      top:0;
      left:0;
    }

    div.info{
      position: absolute;
      bottom: 35px;
      left: 65px;
      width: 135px;
      p{
        position: relative;
        display: block;
        float:left;
        color: #1f1f1f;
        font-family: courier, monospace;
        font-size: 14px;
      }
      a,
      a:focus,
      a:active,
      a:visited{
        position: relative;
        display: block;
        float:left;
        color: #1f1f1f;
        font-family: courier, monospace;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        //border-bottom: 1px solid #1f1f1f;
        margin-top: 10px;
        font-size: 14px;
        padding: 3px;
        padding-top: 0;
        span{
          position: absolute;
          top:0;
          left:0;
          width: $full;
          background-color: #1f1f1f;
          display:block;
          height: 0%;
          z-index: -1;
        }
        /*&:hover{
          color: #191919;
          //background-color: #191919;
          span{
            -webkit-animation: btn 500ms ;  Safari 4+
            -moz-animation:    btn 500ms ;  Fx 5+
            -o-animation:      btn 500ms ;  Opera 12+
            animation:         btn 500ms ;  infinite IE 10+, Fx 29+
            height: 100%;
          }
        }*/
      }


      @media (max-width: $phone-max) {
        width: 50%;
        bottom: 5px;
        left: 5px;
        p{
          font-size: 16px;
          text-transform: none;
          margin-bottom:0;
        }
      }
    }

  }
  .content.container {
    height: auto;
    section.copy {
      width: $full;
      margin-top: 150px;
      margin-bottom: 150px;
      position: relative;
      text-align: right;

      @media (max-width: $phone-max) {
        margin-top: 50px;
      }

      div.ultra{
        position: relative;
        width: $full;
        max-width:230px;
        display: inline-block;
        text-align: left;
          p{
            position: relative;
            display: block;
            float:left;
            color: #afb4aa;
            font-family: courier, monospace !important;
            font-size: 14px;
            span,
            *{
              color: #afb4aa;
              font-family: courier, monospace !important;
              font-size: 14px;
            }
            //text-transform: uppercase;
          }
          a,
          a:focus,
          a:active,
          a:visited{
            position: relative;
            display: block;
            float:left;
            color: #afb4aa;
            font-family: courier, monospace;
            text-decoration: underline;
            text-transform: uppercase;
            font-weight: bold;
            //border-bottom: 1px solid #afb4aa;
            margin-top: 10px;
            font-size: 14px;
            padding: 3px;
            padding-top: 0;
            span{
              position: absolute;
              top:0;
              left:0;
              width: $full;
              background-color: $green;
              display:block;
              height: 0%;
              z-index: -1;
            }
            /*&:hover{
              color: #191919;
              //background-color: #191919;
              span{
                -webkit-animation: btn 500ms ;  Safari 4+
                -moz-animation:    btn 500ms ;  Fx 5+
                -o-animation:      btn 500ms ;  Opera 12+
                animation:         btn 500ms ;  infinite IE 10+, Fx 29+
                height: 100%;
              }
            }*/
          }

          @media (max-width: $phone-max) {
            width: $full;
            max-width: $full;
            a{
             float: right;
            }
            p{
              text-align: right;
              text-transform: none;
              width: $full;
            }
          }

      }

      h1 {

        position: relative;
        max-width: 80%;
        margin: auto;
        font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
        font-size: 30px;
        font-weight: normal;
        text-align: left;

        line-height: 35px;

        color: #afb4aa;

        margin-bottom: 20px;
        /*@media (min-width: $phone-min) {
          font-size: 58px;
        }*/
        @media (min-width: $phone-min) {
          font-size: 30px;
          line-height: 35px;
          width: 100%;
        }
        @media (min-width: $tablet-min) {
          font-size: 36px;
          line-height: 40px;

        }
        @media (min-width: $tablet-middle) {
          font-size: 48px;
          line-height: 50px;

        }

        @media (min-width: $desktop-min) {
          font-size: 50px;
          line-height: 60px;

        }
        @media (min-width: $desktop-large-min) {
          font-size: 60px;
          line-height: 70px;
        }
      }

      h2 {

        position: relative;
        max-width: 80%;
        margin: auto;
        font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
        font-size: 25px;
        font-weight: normal;
        text-align: left;

        line-height: 30px;

        color: #afb4aa;

        margin-bottom: 15px;
        /*@media (min-width: $phone-min) {
          font-size: 58px;
        }*/
        @media (min-width: $phone-min) {
          font-size: 30px;
          line-height: 35px;
          width: 100%;
        }
        @media (min-width: $tablet-min) {
          font-size: 30px;
          line-height: 35px;

        }
        @media (min-width: $tablet-middle) {
          font-size: 36px;
          line-height: 40px;

        }

        @media (min-width: $desktop-min) {
          font-size: 48px;
          line-height: 50px;

        }
        @media (min-width: $desktop-large-min) {
          font-size: 50px;
          line-height: 60px;
        }
      }

      h3 {

        position: relative;
        max-width: 80%;
        margin: auto;
        font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
        font-size: 20px;
        font-weight: normal;
        text-align: left;

        line-height: 25px;

        color: #afb4aa;

        margin-bottom: 15px;
        /*@media (min-width: $phone-min) {
          font-size: 58px;
        }*/
        @media (min-width: $phone-min) {
          width: 100%;
        }
        @media (min-width: $tablet-min) {
          font-size: 28px;
          line-height: 35px;

        }
        @media (min-width: $tablet-middle) {
          font-size: 30px;
          line-height: 35px;

        }

        @media (min-width: $desktop-min) {
          font-size: 36px;
          line-height: 40px;

        }
        @media (min-width: $desktop-large-min) {
          font-size: 48px;
          line-height: 50px;
        }
      }
      h4 {

        position: relative;
        max-width: 80%;
        margin: auto;
        font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
        font-size: 18px;
        font-weight: normal;
        text-align: left;

        line-height: 20px;

        color: #afb4aa;

        margin-bottom: 15px;
        /*@media (min-width: $phone-min) {
          font-size: 58px;
        }*/
        @media (min-width: $phone-min) {
          font-size: 30px;
          line-height: 35px;
          width: 100%;
        }
        @media (min-width: $tablet-min) {
          font-size: 36px;
          line-height: 40px;

        }
      }

      p {

        position: relative;
        max-width: 80%;
        margin: auto;
        font-family: courier, monospace !important;
        font-size: 16px;
        font-weight: normal;
        text-align: left;

        line-height: 20px;

        color: #afb4aa;

        margin-bottom: 15px;
        /*@media (min-width: $phone-min) {
          font-size: 58px;
        }*/

        span,
        *{
          color: #afb4aa;
          font-family: courier, monospace !important;
          font-size: 16px;
        }
        @media (min-width: $phone-min) {
          width: 100%;
        }
      }
    }


  }
}
