body.terms{
  .content.container {

    height: auto;
    margin-top: 160px;
    padding-left:145px;
    padding-right:145px;
    margin-bottom: 100px;

    @media (max-width: $phone-max) {
      margin-top: 0px;
      padding-left:50px;
      padding-right:50px;
    }
    ul{
      position:relative;
      float:left;
      width:100%;
      margin:0;
      padding:0;
      padding-left:30px;
      li{
        position:relative;
        float:left;
        width:100%;
        margin:0;
        padding:0;
        margin-bottom: 10px;
        p{
          float:none;
        }
      }
    }
    ul.indice{
      position:relative;
      float:left;
      width:100%;
      margin:0;
      padding:0;
      margin-bottom: 80px;
      list-style: none;
      @media (max-width: $phone-max) {
        margin-top: 50px;
        margin-bottom: 30px;
      }
      li{
        position:relative;
        float:left;
        width:100%;
        margin:0;
        padding:0;
        margin-bottom: 10px;
        a,
        a:active,
        a:focus,
        a:visited{
          line-height: 25px;
          color: #949494;
          font-size: 20px;
          font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          h2{
            line-height: 25px;
            font-size: 20px;
            color: #949494;
            margin-top: 20px;
            margin-bottom: 20px;
          }
          &.active{
            h2{
              color: #1f1f1f;
            }
          }
          &:hover{
            color: #1f1f1f;
            h2{
              color: #1f1f1f;
            }
          }
        }
        ul{
          margin:0;
          padding:0;
          margin-top: 10px;
          padding-left:20px;
          a,
          a:active,
          a:focus,
          a:visited{
            line-height: 20px;
            font-size: 14px;
          }
        }
      }
      &.categories{
        margin-top: 0px;
        margin-bottom: 50px;
        text-align: center;
        @media (max-width: $phone-max) {
          margin-top: 50px;
          margin-bottom: 0px;
        }
        li{
          width: auto;
          float:none;
          display:inline-block;
          text-align: left;
          margin-left:15px;
          margin-right:15px;
          vertical-align: top;
          a,
          a:focus,
          a:active,
          a:visited{
            font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
            font-size: 16px;
          }
          a.active{
            color: #1f1f1f;
          }
        }
      }
      &.questions{
        li{
          margin-bottom: 0px;
          border-bottom: 1px solid #f0f0f0;
        }
        div.answer{
          display:none;
          position:relative;
          float:left;
          width: $full;
        }
      }
    }
    h1{
      position: relative;
      float: left;
      width: $full;
      margin:0;
      padding:0;
      margin-bottom: 60px;
      margin-top: 30px;
      line-height: 35px;
      color: #1f1f1f;
      font-size: 30px;
      font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
      text-transform: uppercase;
      @media (max-width: $phone-max) {
        line-height: 35px;
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 0px;
        width: $full;
      }
      &.done{
        padding-left: 55px;
        margin-bottom: 30px;
        img{
          position: absolute;
          display: inline-block;
          height: 30px;
          top: 2px;
          left:0;
        }
        @media (max-width: $phone-max) {
          margin-top: 50px;
        }
      }
    }

    h2{
      position: relative;
      float: left;
      width: $full;
      margin:0;
      padding:0;
      margin-bottom: 30px;
      margin-top: 10px;
      line-height: 35px;
      color: #1f1f1f;
      font-size: 28px;
      font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
      text-transform: none;
      &.done{
        padding-left: 55px;
        img{
          position: absolute;
          display: inline-block;
          height: 30px;
          top: 2px;
          left:0;
        }
      }
      @media (max-width: $phone-max) {
        line-height: 25px;
        font-size: 18px;
        margin-top: 30px;
        width: $full;
      }
    }

    h3{
      position: relative;
      float: left;
      width: $full;
      margin:0;
      padding:0;
      margin-top: 80px;
      margin-bottom: 30px;
      line-height: 35px;
      padding-left: 35px;
      padding-right: 35px;
      color: #1f1f1f;
      font-size: 28px;
      font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
      text-transform: uppercase;

      @media (max-width: $phone-max) {
        line-height: 25px;
        font-size: 20px;
        margin-top: 30px;
        width: $full;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    p{
      position: relative;
      display: block;
      float:left;
      width: $full;
      color: #1f1f1f;
      font-family: courier, monospace;
      font-size: 16px;
      margin:0;
      padding:0;
      margin-bottom: 20px;
      *{
        font-family: courier, monospace;
        color: #1f1f1f;
      }
      a,
      a:active,
      a:focus,
      a:visited{
        font-size: 16px !important;
        font-family: courier, monospace !important;
        color: #1f1f1f !important;
        text-decoration: underline !important;
      }
      a:hover{
        color: $green !important;
      }
    }

    form{
      border-top: 0px;
      @media (max-width: $phone-max) {
        margin-top: 30px;
        margin-bottom: 0px;
      }
      a,
      a:active,
      a:visited,
      a:focus,
      input,
      textarea{
        position:relative !important;
        float:left !important;
        width: $full !important;
        margin:0 !important;
        -webkit-border-radius:0 !important;
        border-radius:0 !important;
        -webkit-appearance: none !important;
        border: 0 !important;
        padding: 10px !important;
        font-family: courier, monospace !important;
        background-color: #fafafa !important;
        margin-bottom: 5px !important;
        max-width: $full !important;
        text-decoration: none !important;
        color: $black !important;
        font-weight: $regular !important;
        font-size: 14px !important;
        resize: none !important;
        &.error{
          background-color: $salmon !important;
        }
        line-height: 14px !important;
        @media (max-width: $phone-max) {
          max-width: $full !important;
        }
        &[type="submit"]{
          background-color: $salmon !important;
          color: $white !important;
          padding-right:50px !important;
          padding-left:50px !important;
          cursor: pointer !important;
          font-family: 'Conv_DINBold' !important;
          font-size: 12px !important;
          width: auto !important;
          float:right !important;
          margin-right: 10px !important;
          height: 40px !important;
          margin-top: 30px !important;
          &:hover{
            background-color: #191919 !important;
          }
        }
        span{
          position: absolute !important;
          right: 10px !important;
          top: 0 !important;
          font-weight: bold !important;
          line-height: 32px !important;
        }
      }
      a.active,
      a:hover{
        background-color: #F1F1F1 !important;
        color:#191919 !important;
      }
      ul.indice{
        position:absolute !important;
        left:0 !important;
        top: $full !important;
        padding:0 !important;
        margin:0 !important;
        z-index: 300 !important;
        width: $full !important;
        max-height: 150px !important;
        overflow: auto !important;
        display:none ;
        li{
          margin:0 !important;
          a,
          a:focus,
          a:visited,
          a:active{
            margin-bottom:0 !important;
            display: block !important;
            text-transform: none !important;
          }
        }
      }
    }

  }
}
