body.ultra{

  .content.container {
    overflow: hidden;
    height: auto;
    margin-top: 160px;

    @media (max-width: $phone-max) {
      margin-top: 0px;
    }

    section.blog {
      width: $full;
      display: block;
      position: relative;
      overflow: hidden;
      margin-top: 20px;
      margin-bottom: 20px;

      a,
      a:focus,
      a:active,
      a:visited{
        position: relative;
        display: block;
        float:right;
        color: #191919;
        font-family: courier, monospace;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        //border-bottom: 1px solid #191919;
        font-size: 20px;
        margin-bottom: 50px;
        clear:right;
        padding: 3px;
        margin-top: 5px;
        padding-top: 0px;
        span{
          position: absolute;
          top:0;
          left:0;
          width: $full;
          background-color: #191919;
          display:block;
          height: 0%;
          z-index: -1;
        }
        @media (max-width: $phone-max) {
          font-size: 14px;
          margin-bottom: 0px;
        }
        /*&:hover{
          color: $green;
          //background-color: #191919;
          span{
            -webkit-animation: btn 500ms ;  Safari 4+
            -moz-animation:    btn 500ms ;  Fx 5+
            -o-animation:      btn 500ms ;  Opera 12+
            animation:         btn 500ms ;  infinite IE 10+, Fx 29+
            height: 100%;
          }
        }*/
        /*&:hover{
          color: $green;
          background-color: #191919;
        }*/
      }

      div.copy {
        float: left;
        //display: none;
        width: 100%;
        height: auto;


        /*@media (min-width: $phone-min) {
        font-size: 58px;
      }*/
        @media (min-width: $tablet-min) {
          height: 345px;
          margin-top: 15px;
          display: block;
          width: 23.7510955%;
        }
        @media (min-width: $tablet-middle) {
          height: 445px;
          margin-top: 15px;
          display: block;
          width: 23.7510955%;

        }
        @media (min-width: $desktop-min) {
          height: 545px;
          margin-top: 15px;
          display: block;
          width: 23.7510955%;

        }
        @media (min-width: $desktop-large-min) {
          height: 645px;
          margin-top: 15px;
          display: block;
          width: 23.7510955%;

        }


        h4 {
          font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
          font-weight: normal;
          text-align: left;

          margin-left: 10px;
          margin-right: 0px;
          font-size: 25px;
          margin-top: 0px;
          margin-bottom: 10px;
          line-height: 28px;
          width: 100%;


          @media (max-width: $phone-max) {
            margin-top: 50px;
            margin-left: 0px;
          }

          /*@media (min-width: $phone-min) {
        font-size: 58px;
      }*/
          @media (min-width: $phone-min) {
            margin-left: 10px;
            margin-right: 0px;
            font-size: 30px;
            margin-top: 5px;
            margin-bottom: 10px;
            line-height: 35px;
            width: 100%;
          }

          @media (min-width: $tablet-min) {
            margin-left: 0px;
            line-height:36px;

            font-size: 36px;
          }
          @media (min-width: $tablet-middle) {
            line-height: 46px;

            font-size: 46px;
          }
          @media (min-width: $desktop-min) {
            font-size: 50px;
            line-height: 50px;

          }
          @media (min-width: $desktop-large-min) {
            font-size: 56px;
            line-height: 60px;
          }


        }
      }

      a.blog__entry,
      a.blog__entry:visited,
      a.blog__entry:focus,
      a.blog__entry:active {
        position: relative;
        width: $full;
        float: right;
        display: block;
        background-color: #1f1f1f !important;
        height: 200px;
        clear:right;
        margin:0;
        margin-bottom: 50px;

        @media (max-width: $phone-max) {
          margin-bottom: 0px;
        }
        &:hover{
          div.backstretch img{

          }
        }

        div.info{
          position: absolute;
          top: 20px;
          right: 50px;
          width: 230px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: rgba(0,0,0,0.4);
          p{
            position: relative;
            display: block;
            float:left;
            color: $green;
            font-family: courier, monospace;
            font-size: 14px;
            &.underline{
              text-decoration: underline;
            }
          }


          @media (max-width: $phone-max) {
            width: 40%;
            top: 5px;
            right: 30px;
            p{
              font-size: 20px;
              text-transform: none;
            }
          }

        }


        @media (min-width: $tablet-min) {
          width: 74.4960561%;
          margin-left: 1.75284838%;
          height: 400px;
        }
        @media (min-width: $tablet-middle) {
          margin-left: 1.75284838%;

          width: 74.4960561%;

          height: 545px;
        }
        @media (min-width: $desktop-min) {
          width: 74.4960561%;
          margin-left: 1.75284838%;


          height: 545px;
        }
        @media (min-width: $desktop-large-min) {
          height: 645px;
          margin-left: 1.75284838%;

        }

      }

    }
  }
}
