body.ultraview{

  .content.container {
    overflow: hidden;
    height: auto;
    margin-top: 160px;

    @media (max-width: $phone-max) {
      margin-top: 0px;
    }

    section.blog {
      width: $full;
      display: block;
      position: relative;
      margin-top: 20px;
      margin-bottom: 100px;

      a,
      a:focus,
      a:active,
      a:visited{
        position: relative;
        display: block;
        float:right;
        color: #191919;
        font-family: courier, monospace;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 50px;
        clear:right;
        z-index: 1;
        span{
          position: absolute;
          top:0;
          left:0;
          width: $full;
          background-color: #191919;
          display:block;
          height: 0%;
          z-index: -1;
          border-bottom: $salmon $full solid;
        }
      }

      div.copy {
        float: left;
        //display: none;
        width: 100%;
        height: auto;

        margin-bottom: 20px;

        @media (min-width: $tablet-min) {
          height: 345px;
          display: block;
          width: 23.7510955%;
        }
        @media (min-width: $tablet-middle) {
          height: 445px;
          display: block;
          width: 23.7510955%;

        }
        @media (min-width: $desktop-min) {
          height: 545px;
          display: block;
          width: 23.7510955%;

        }
        @media (min-width: $desktop-large-min) {
          height: 645px;
          display: block;
          width: 23.7510955%;

        }


        h1 {
          font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
          font-weight: normal;
          text-align: left;
          letter-spacing: -2px;

          margin-left: 0px;
          padding-right: 50px;
          font-size: 25px;
          margin-top: 0px;
          margin-bottom: 10px;
          line-height: 28px;
          width: 100%;


          @media (max-width: $phone-max) {
            margin-top: 30px;
            margin-bottom: 0px;
            margin-left: 0px;
          }

          /*@media (min-width: $phone-min) {
        font-size: 58px;
      }*/
          @media (min-width: $phone-min) {
            margin-right: 0px;
            font-size: 30px;
            margin-top: 5px;
            margin-bottom: 10px;
            line-height: 35px;
            width: 100%;
          }

        }

        a,
        a:focus,
        a:active,
        a:visited{
          position: relative;
          display: block;
          float:left;
          color: #191919;
          font-family: courier, monospace;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: underline;
          font-size: 14px;
          margin-bottom: 50px;
          margin-top: 50px;
          clear:left;
          padding: 3px;
          padding-bottom: 5px;
          span{
            position: absolute;
            top:0;
            left:0;
            width: $full;
            background-color: #191919;
            display:block;
            height: 0%;
            z-index: -1;
          }
          /*&:hover{
            color: #fff;
            background-color: #191919;
          }*/
        }

        p{
          position: relative;
          display: block;
          float:left;
          color: #191919;
          width: 100%;
          margin:0;
          font-size: 14px;
          margin-bottom: 10px;
        }

      }

      article.blog__entry {
        position: relative;
        width: $full;
        margin-left: 0px;
        float: right;
        display: block;
        height: auto;
        clear:right;
        text-align: center;

        @media (min-width: $tablet-min) {
          width: 74.4960561%;
          margin-left: 1.75284838%;
        }
        @media (min-width: $tablet-middle) {
          margin-left: 1.75284838%;
          width: 74.4960561%;
        }
        @media (min-width: $desktop-min) {
          width: 74.4960561%;
          margin-left: 1.75284838%;
        }
        @media (min-width: $desktop-large-min) {
          margin-left: 1.75284838%;
        }


        img{
          position: relative;
          width: $full;
          margin-left: 0px;
          float: right;
          display: block;
          clear:right;
          margin-bottom: 30px;
        }



        h3 {
          position: relative;
          font-family: 'Conv_DINBold', Helvetica, Verdana, sans-serif;
          font-weight: normal;
          text-align: left;
          font-size: 28px;
          line-height: 35px;
          width: 100%;
          margin:0;

          @media (max-width: $phone-max) {
            font-size: 20px;
            line-height: 25px;

          }

          @media (min-width: $phone-min) {
          }

        }

        p{
          position: relative;
          display: block;
          float:left;
          color: #191919;
          font-family: courier, monospace;
          text-decoration: none;
          font-size: 16px;
          margin-bottom: 30px;
          margin-top: 30px;
          clear:left;
          width: $full;
          text-align: left;
        }

        blockquote{
          position: relative;
          display: inline-block;
          color: #191919;
          font-family: courier, monospace;
          text-decoration: none;
          font-size: 18px;
          clear:left;
          max-width: 70%;
          margin:auto;
          margin-bottom: 80px;
          margin-top: 80px;
          line-height: 24px;
          font-weight: bold;
          text-align: left;
          z-index: 1;
          span{
            width: 37px;
            height: 32px;
            position: absolute;
            z-index:-1;
            top: -5px;
            left: -15px;
            img{
              width: $full;
            }
          }

          @media (max-width: $phone-max) {
            max-width: 80%;
            margin-bottom: 40px;
            margin-top: 50px;
          }

        }


        video{
          position: relative;
          width: $full;
          margin-bottom: 30px;
          -webkit-background-size:cover;
          -moz-background-size:cover;
          -o-background-size:cover;
          background-size:cover;
        }

        video[poster]{
          min-height: $full;
          min-width: $full;
        }

        iframe.youtube{
          position: relative;
          width: $full;
          margin-bottom: 30px;
          height: 450px;
        }

      }

      div.socialLinks {
        display:block;
        position:relative;
        overflow: hidden;
        float:left;
        width: 100%;
        margin-bottom: 50px;
        a,
        a:visited,
        a:active,
        a:focus{
          margin:0;
          clear:none;
          border-bottom: 0px solid #191919;
        }
        a.social,
        a.social:visited,
        a.social:active,
        a.social:focus {
          display: block;
          float: left;
          width: 30px;
          height: 30px;
          text-decoration: none;
          margin-right: 10px;
          background-image: url(../images/social-sprites.png);

          &.facebook {
            background-position: 0px 0px;
          }
          &.twitter {
            background-position: 0px 60px;
          }
          &.pinterest {
            background-position: 0px 30px;
          }

        }
      }

    }
  }
}
